{% extends 'base_6.html' %}
{% block title %}Baby Bewafa Sargam Notes Goldie Sohel | Easy | sargam notes {% endblock %}
<!-- Main -->
{% block content %}
<style>

	h2{
	font: inherit;
	vertical-align: baseline;
	font-weight: 900;
	line-height: 1.9;
	font-family:  sans-serif;
	margin: 0 0 1em 0;
	}
	form.example input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
	}
	form.example button {
	float: left;
	width: 20%;
	padding: 10px;
	background: blue;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
	height: 45.5px;
	}
	form.example button:hover {
	background: darkslategray;
	}
	form.example::after {
	content: "";
	clear: both;
	display: table;
	}
	#content-wrap {
	padding-top: 50px;
	padding-bottom: 50px;
	}
</style>
<meta name="description"  content="Baby Bewafa Sargam Notes Goldie Sohel Available On ccatcracker. Baby Bewafa Easy Harmonium Notes For Beginners. Baby Bewafa Easy Harmonium Notes On ccatcracker." /><meta name="keywords"  content="baby bewafa,sargam notes,goldie sohel,sargam notes for keyboard,sargam notes for old hindi songs,sargam notes for new hindi songs" />
<section style="background-color: black;">
	<div id="content-wrap">
	<section id="about" class="py-4" >
		<div class="container">
			<div class="row">
				<div class="col-md-8" >
					<h2 style="color: white;">Search your Faviourite Songs</h2>
					<form class="example" method="post" action="{% url 'chord_list' %}">
						{% csrf_token %}
						<input type="text" name="query" id="searchsong" value="" placeholder="Song Name" />
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
					<p id="search-results">
					</p>
					<br> <br>
					<h4 style="color:white;">Baby Bewafa Sargam Notes Goldie Sohel</h4>
					<br>
					<p style="color: #f1f1f1;">       
                        Mohabbat Karke Main Pachhtaya Sohniye                         <br>
                        Ni(k) Ni(k) RE(k) GA(k), GA(k), GA(k), MA GA(k),<br>
                        RE(k) RE(k), GA(k) MA MA(t) MA GA(k)<br>
<br>
                        Mohabbat Karke Main Pachhtaya Sohniye<br>
                        Ni(k) Ni(k) RE(k) GA(k), GA(k), GA(k), MA GA(k)<br>
                        RE(k) RE(k), GA(k) MA MA(t) MA GA(k)<br>
<br>
                        Samjha Na Tera Iraada<br>
                        GA(k) GA(k) GA(k), GA(k) GA(k) Ni(k) Ni Ni(k)<br>
                        <br>
                        Kar Baitha Ishq Main Zaada<br>
                        GA(k) GA(k) GA(k), GA(k) GA(k) Ni(k) Ni Ni(k)<br>
<br>
                        Tere Bin Feel Kiya To<br>
                        GA(k) GA(k) GA(k), GA(k) GA(k) Ni(k) Ni Ni(k)<br>
<br>
                        Reh Gaya Ab Main Aadha<br>
                        GA(k) GA(k) GA(k), GA(k) GA(k) Ni(k) Ni Ni(k)<br>
<br>
                        Kyun Di Hai Ye Saza<br>
                        Ni(k) Ni(k) Ni(k) Dha(k)<br>
                        Ni Ni(k) Ma(t) Ma Ga(k)<br>
<br>
                        Mujhko Ye Bata<br>
                        Ni(k) Ni(k) Ni(k) Dha(k)<br>
                        Ni Ni(k) Ma(t) Ma Ga(k)<br>
<br>
                        Mujhko Ye Bata<br>
                        Ni(k) Ni(k) Ni(k) Dha(k),<br>
                        Ni Ni(k) Ma(t) Ma Ga(k)<br>
<br>
                        Kya Hain Meri Galtiyan<br>
                        RE(k) RE(k) RE(k)<br>
                        MA RE(k) GA(k)<br>
<br>
                        Baby Bewafa, Baby Bewafaa<br>
                        GA(k) GA(k), GA(k) MA MA(t).. MA GA(k)<br>
                        RE(k) RE(k), RE(k) GA(k) RE(k)<br>
<br>
                        Tune Sau Dafa Toda Dil Mera..<br>
                        GA(k) GA(k), GA(k) MA MA(t).. MA GA(k)<br>
                        RE(k) RE(k), RE(k) GA(k) RE(k)<br>
                        <br>
                        Mohabbat Karke Main Pachhtaya Sohniye<br>
                        Mohabbat Karke Main Pachhtaya Sohniye                         <br>   
                                            <br>

                    <strong style="color: brown;">Note : Hope you understood start of song now just try to explore next 2 para of songs by yourself try to find notes by yourself.
                        If you want to learn how to find notes of any song read this blog : <a href="{%url 'sargam' %}">CLick here</a>
                    </strong>
					</p>
					<br> <br>
					<h2 style="color: white;">You may also like this :</h2>
					<br>
					<section id="listings" class="py-4">
						<br>
						<div class="container">
							<br>
							<div class="row">
								<br>
								{% if lists %} <br>
								{% for list in lists %} <br>
								<!-- Listing 1 --> <br>
								<div class="col-md-6 col-lg-4 mb-4">
									<br>
									<div class="card listing-preview">
										<br>
										<div class="card-body">
											<div class="listing-heading text-center">
												<h4>Sargam	 and Notation</h4>
												<a href="{{list.url}}">{{list.song_names}}</a>
											</div>
											<hr>
										</div>
									</div>
								</div>
								{% endfor %}
								{% else %}
								<div class="col-md-12">
									<p>No Listings Available</p>
								</div>
								{% endif %}
					</section>
	</section>
	</div>
	</div>
	</div>
	</div>
</section>
</div>
{% endblock %}