{% extends 'base_5.html' %}
        <!-- Main -->
{% block content %}
    
<!-- Main -->
	<!-- Main -->
    <div id="main">
        
     
        <!-- One -->
            <section class="wrapper style1">
                <div class="inner">
                    <header class="align-center">
                        <h2>Search your Faviourite Songs</h2>
                        <form method="post" action="#">
                            <div class="row uniform">
                                <div class="6u 12u$(small)">
                                    <input type="text" name="query" id="query" value="" placeholder="Song Name  " />
                                </div>
                                <div class="3u$ 12u$(small)">
                                    <input type="submit" value="Search" class="fit" />
                                </div>
                            </div>
                        </form>

                    </header>
                    <h3>2019 Hit Bollywood Songs</h3>
								<div class="row">
									<div class="6u 12u$(small)">

										<h4>Bollywood 2019</h4>
										<ul>
											<li><a href="{% url 'ccat_notify' %}" class="link">Lal Ishq Notation and Sargam</a> </li>
											<li><a href="{% url 'ccat_notify' %}" class="link">Bekhayali Notation and Sargam</a></li>
											<li><a href="{% url 'ccat_notify' %}" class="link">Pachtaoge Notation and Sargam</a></li>
										</ul>

                                    </div>

								</div>
                    
                
                </div>
            </section>

        <!-- Three -->
            <section class="wrapper ">
                <div class="inner">
                    <header class="align-center">
                        <h2>Aliquam ipsum purus dolor</h2>
                        <p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
                    </header>

                    <!-- 3 Column Video Section -->
                        
                </div>
                
            </section>

        </div>


{% endblock %}