{% extends 'base_6.html' %}
{% block title %}There's Nothing Holdin Me back shawn mendes sargam notes {% endblock %}
<!-- Main -->
{% block content %}
<style>
	h2{
	font: inherit;
	vertical-align: baseline;
	font-weight: 900;
	line-height: 1.9;
	font-family:  sans-serif;
	margin: 0 0 1em 0;
	}
	form.example input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
	}
	form.example button {
	float: left;
	width: 20%;
	padding: 10px;
	background: blue;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
	height: 45.5px;
	}
	form.example button:hover {
	background: darkslategray;
	}
	form.example::after {
	content: "";
	clear: both;
	display: table;
	}
	#content-wrap {
	padding-top: 50px;
	padding-bottom: 50px;
	}
</style>
<meta name="keywords"  content="there\'s nothing holdin\' me back,shawn mendes,sargam notes,sargam practice notes,sargam piano notes pdf,flute sargam notes pdf,sargam notes of patriotic songs" />
<meta name="description"  content="There&#039;s Nothing Holdin&#039; Me Back (Shawn Mendes) Sargam Notes Available On Sargam Book. Easy Harmonium Notes For Beginners. Easy Harmonium Notes On Sargam Book." />
<meta name="twitter:title" content="There&#039;s Nothing Holdin&#039; Me Back (Shawn Mendes) Sargam Notes"/>
<meta name="twitter:description" content="There&#039;s Nothing Holdin&#039; Me Back (Shawn Mendes) Sargam Notes Available On Sargam Book. Easy Harmonium Notes For Beginners. Easy Harmonium Notes On Sargam Book."/>
<section style="background-color: black;">
	<div id="content-wrap">
	<section id="about" class="py-4" >
		<div class="container">
			<div class="row">
				<div class="col-md-8" >
					<h2 style="color: white;">Search your Faviourite Songs</h2>
					<form class="example" method="post" action="{% url 'chord_list' %}">
						{% csrf_token %}
						<input type="text" name="query" id="searchsong" value="" placeholder="Song Name" />
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
					<p id="search-results">
					</p>
					<br> <br>
					<h4 style="color:white;">Your Search Song : </h4>
					<br>
					<p style="color: #f1f1f1;">
						I wanna follow where she goes',                               <br>
						Ma(t) Ga Ma(t) Ga, Re(k) Re(k) Ni Ga'<br>
						<br>
						I think about her and she knows it',<br>
						Ma(t) Ga Ma(t) Ga Re ni Dha, Ga Ma(t) Ga',<br>
						<br>
						I wanna let her take control',<br>
						Ma(t) Ga Ma(t), Ga Re ni dha Ga Ma(t) Ga',<br> 
						<br>
						‘Cause every time that she gets close, yeah',<br>
						Ga Ma(t) Ga, Ma(t) Ga Ma(t) Ga Re ni dha, Ga Re',<br>
						<br>
						She pulls me in enough to keep me guessing, mmm',<br>
						RE(k) RE(k) Ni, RE(k) RE(k) Ni, RE(k) RE(k) Ni',<br>
						RE(k) RE(k) Ni, RE(k) RE(k) RE, Ni RE(k) Ni Dha',<br>
						<br>
						And maybe I should stop and start confessing',<br>
						RE(k) RE(k) Ni, RE(k) RE(k) Ni, RE(k) RE(k) Ni',<br>
						RE(k) RE(k) Ni, RE(k) RE(k) RE',<br>
						<br>
						Confessing, yeah',<br>
						RE GA MA(t) PA, GA MA(t)',<br>
						<br>
						<br>
						Oh, I’ve been shaking',<br>
						MA(t) RE Ni, RE Ni',<br>
						<br>
						I love it when you go crazy',<br>
						Ni, GA MA(t) GA MA(t)',<br>
						RE Ni, RE Ni',<br>
						<br>
						You take all my inhibitions',<br>
						Ni, GA MA(t) GA MA(t)',<br>
						RE Ni, RE Ni',<br>
						<br>
						Baby, there’s nothing holdin’ me back',<br>
						GA MA(t), GA MA(t), RE Ni, Ni RE GA',<br>
						MA(t) GA MA(t)<br>
						<br>
						<strong style="color: blueviolet;">English Notation for remaining song :</strong> <br> <br>
						You take me places that tear up my reputation                  <br>       
						F#    B     B    D B    B   F#  F# F#  B B D B  <br>
						<br>
						Manipulate  my decisions <br>
						B F# F# F# B    B D B  <br>
						<br>
						Baby, there's nothing holding me back <br>
						F# F#   F#      B B      D E     F#  F# <br>
						<br>
						There's nothing holding me back <br>
						F#          B B      D E     F#  F#  <br>
						<br>
						There's nothing holding me back <br>
						F#          B B       D E    F# F# <br>
						<br>
						Verse 2: <br>
						She says that she's never afraid <br>
						F#     E    F#    E      D B   A E  <br>
						<br>
						Just picture everybody naked <br>
						F#    E  F#   E D B A    E D  <br>
						<br>
						She really doesn't like to wait <br>
						F#   E F#   E D      B  A   E  <br>
						<br>
						Not really into hesitation <br>
						F#  E F#  E D  B A E D  <br>
						<br>
						Pre-Chorus: <br>
						She pulls me in enough to keep me guessing <br>
						B     C#    B  C#  B C#  B   C#  B    C# D <br>
						<br>
						And maybe I should stop and start confessing <br>
						B      C# B C#  B     C#    B   C#    B C# D  <br>
						<br>
						Confessing, yeah <br>
						D E F#      G F# E D  <br>
						<br>
						Chorus: <br>
						Oh, I've been shaking <br>
						F#    B     B     D  B  <br>
						<br>
						I love it when you go crazy <br>
						B F# F#  F#    B  B   D B  <br>
						<br>
						You take all my inhibitions <br>
						B     F# F# F#  B B D B   <br>
						<br>
						<br>
						<br>
						<br>
						Baby, there's nothing holding me back <br>
						F# F#  F#       B  B      D  E   F#  F# <br>
						<br>
						You take me places that tear up my reputation <br>
						F#    B     B    D B    B   F#  F# F#  B B D B  <br>
						<br>
						Manipulate  my decisions <br>
						B F# F# F# B    B D B  <br>
						<br>
						Baby, there's nothing holding me back <br>
						F# F#   F#      B B      D E     F#  F# <br>
						<br>
						There's nothing holding me back <br>
						F#          B B      D E     F#  F#  <br>
						<br>
						There's nothing holding me back <br>
						F#          B B       D E    F# F# <br>
						<br>
					</p>
					<br>
					<h2 style="color: white;">You may also lik <br>e this :</h2>
					<section id="listings" class="py-4">
						<div class="container">
							<div class="row">
								{% if lists %}
								{% for list in lists %}
								<!-- Listing 1 -->
								<div class="col-md-6 col-lg-4 mb-4">
									<div class="card listing-preview">
										<div class="card-body">
											<div class="listing-heading text-center">
												<h4>Sargam	 and Notation</h4>
												<a href="{{list.url}}">{{list.song_names}}</a>
											</div>
											<hr>
										</div>
									</div>
								</div>
								{% endfor %}
								{% else %}
								<div class="col-md-12">
									<p>No Listings Available</p>
								</div>
								{% endif %}
					</section>
	</section>
	</div>
	</div>
	</div>
	</div>
</section>
</div>
{% endblock %}