{% extends 'base_6.html' %}
{% block title %}Wheels on the Bus (Melanie Martinez) Sargam Notes | ccatcracker{% endblock %}
<!-- Main -->
{% block content %}
<style>
	h2{
	font: inherit;
	vertical-align: baseline;
	font-weight: 900;
	line-height: 1.9;
	font-family:  sans-serif;
	margin: 0 0 1em 0;
	}
	form.example input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
	}
	form.example button {
	float: left;
	width: 20%;
	padding: 10px;
	background: blue;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
	height: 45.5px;
	}
	form.example button:hover {
	background: darkslategray;
	}
	form.example::after {
	content: "";
	clear: both;
	display: table;
	}
	#content-wrap {
	padding-top: 50px;
	padding-bottom: 50px;
	}
</style>
<meta name="twitter:description" content="Released in 2017, &#8220;Wolves&#8221; shot to the top of the charts around the world. A fun tune to play and great for beginners, enjoy the letter notes below whatever instrument you are practising 🙂 &nbsp; F#   A     A-B In your eyes E            E     E-E     E-D There&#8217;s a [&hellip;]" /><meta name="twitter:title" content="Wolves - Selena Gomez / Marshmello - music notes for newbies" />
<meta name="keywords"  content="wolves,selena gomez,marshmello,sargam notes,sargam song notes apk,sargam notes for sitar,sargam notes marathi song,sargam to notes" /> 
<section style="background-color: black;">
	<div id="content-wrap">
	<section id="about" class="py-4" >
		<div class="container">
			<div class="row">
				<div class="col-md-8" >
					<h2 style="color: white;">Search your Faviourite Songs</h2>
					<form class="example" method="post" action="{% url 'chord_list' %}">
						{% csrf_token %}
						<input type="text" name="query" id="searchsong" value="" placeholder="Song Name" />
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
					<p id="search-results">
					</p>
					<br> <br>
					<h4 style="color:white;">Your Search Song : </h4>
					<br>
					<p style="color: #f1f1f1;">
						In your eyes, there’s a heavy blue,                                       <br>                       
						Ma(t) Dha Dha Ni, Ga Ga, Ga Ga Ga Re, <br>
						<br>
						One to love, and one to lose, <br>
						Ga Ga Ga Re, Re Re Re Dha Ma(t), <br>
						<br>
						Sweet divine, a heavy truth, <br>
						Ma(t) Dha Dha Ni, Ga Ga, Ga Ga Ga Re, <br>
						<br>
						Water or wine, don’t make me choose, <br>
						Ga Ga Ga Ga Re, Re Re Re Dha Ma(t), <br>
						<br>
						I wanna feel the way that we did that summer night, night, <br>
						RE RE(k) Ni, RE(t) Ni Dha, Ni Dha Ma(t), <br>
						Dha Re ni Re Ma(t), ni Ma(t), <br>
						<br>
						Drunk on a feeling, alone with the stars in the sky, <br>
						RE RE(k) Ni, RE(t) Ni Dha, Ni Dha Ma(t), <br>
						Dha Re ni Re Ma(t), <br>
						<br>
						I’ve been running through the jungle, <br>
						Ma(t) Dha Ni Ni Dha Ni Dha, <br>
						<br>
						I’ve been running with the wolves, <br>
						Ma(t) Ga Ga, Ga Re Ma(t) Ga, <br>
						<br>
						To get to you, to get to you, <br>
						Ga Re Ga Ma(t), Dha Ga Re Ga Ma(t), <br>
						<br>
						I’ve been down the darkest alleys, <br>
						Ma(t) Dha Ni Ni Dha Ni Dha, <br>
						<br>
						Saw the dark side of the moon, <br>
						Ma(t) Ga Ga, Ga Re Ma(t) Ga <br>
						<br>
						To get to you, to get to you <br>
						Ga Re Ga Ma(t), Dha Ga Re Ga Ma(t) <br>
						<br>
						<br>
						<strong style="color: blueviolet;">English Notation for remaining song :</strong> <br> <br>
						D         ^D   ^C#    B    A   B - A      B - A                      <br>        
						I've looked for love in every stranger <br>
						<br>
						D         C#     B      A      B     A     B - A <br>
						Took too much to ease the anger <br>
						<br>
						E     D  E-F#   A      E    D   E-F# <br>
						All for you, yeah all for you <br>
						<br>
						F#       A        B - B          B           A      B - A <br>
						I've been running through the jungle <br>
						<br>
						A         A        E - E        E        D       E <br>
						I've been running with the wolves <br>
						<br>
						A    E   D   E-F#  A   E   D   E-F# <br>
						To get to you, to get to you <br>
						<br>
						G   F#   E   D    D <br>
						Oh to get to you <br>
						<br>
						D        F#-A    A-B     E     E    E-D <br>
						Your finger tips trace my skin <br>
						<br>
						E      E-E  E-D    E    E-D    A-F# <br>
						To places I have never been <br>
						<br>
						F#-A   A-B  E   E-E-E-D <br>
						Blindly I am following <br>
						<br>
						E                E         E         E - D <br>
						Break down these walls <br>
						<br>
						E        E     D   A-F# <br>
						And come on in <br>
						<br>
						^D ^C#-B ^C#  B  A <br>
						I wanna feel the way <br>
						<br>
						B          A   F#    A      .A-.A    .B-D-F# <br>
						That we did that summer night ~ <br>
						<br>
						.B-D-F# <br>
						Night... <br>
						<br>
						^D      ^C#   B   ^C#-B   A-B <br>
						Drunk on the feeling alone <br>
						<br>
						A         F#     A     A   A    .B-D-F# <br>
						With the stars in the sky ~ <br>
						<br>
						F#       A        B - B          B           A      B - A <br>
						I've been running through the jungle <br>
						<br>
						A         A        E - E        E        D       E <br>
						I've been running with the wolves <br>
						<br>
						A    E   D   E-F#  A   E   D   E-F# <br>
						To get to you, to get to you <br>
						<br>
						F#       A       B        A       B - A      B - A <br>
						I've been down the darkest alleys <br>
						<br>
						A        A       E        E     E    D      E <br>
						Saw the dark side of the moon <br>
						<br>
						A     E   D   E-F# A  E  D  E-F# <br>
						To get to you, to get to you <br>
						<br>
						D         ^D   ^C#    B    A   B - A      B - A <br>
						I've looked for love in every stranger <br>
						<br>
						D         C#     B      A      B     A     B - A <br>
						Took too much to ease the anger <br>
						<br>
						E     D  E-F#   A      E    D   E-F# <br>
						All for you, yeah all for you <br>
						<br>
						<br>
						F#       A        B - B          B           A      B - A <br>
						I've been running through the jungle <br>
						<br>
						A         A        E - E        E        D       E <br>
						I've been running with the wolves <br>
						<br>
						A    E   D   E-F#  A   E   D   E-F# <br>
						To get to you, to get to you <br>
						<br>
						G F# E D D <br>
					</p>
					<br> <br>
					<h2 style="color: white;">You may also like this :</h2>
					<br>
					<section id="listings" class="py-4">
						<br>
						<div class="container">
							<br>
							<div class="row">
								<br>
								{% if lists %} <br>
								{% for list in lists %} <br>
								<!-- Listing 1 --> <br>
								<div class="col-md-6 col-lg-4 mb-4">
									<br>
									<div class="card listing-preview">
										<br>
										<div class="card-body">
											<div class="listing-heading text-center">
												<h4>Sargam	 and Notation</h4>
												<a href="{{list.url}}">{{list.song_names}}</a>
											</div>
											<hr>
										</div>
									</div>
								</div>
								{% endfor %}
								{% else %}
								<div class="col-md-12">
									<p>No Listings Available</p>
								</div>
								{% endif %}
					</section>
	</section>
	</div>
	</div>
	</div>
	</div>
</section>
</div>
{% endblock %}