{% extends 'base_1.html' %}
{% block title %} Pure Virtual function, Abstract base class | C ++ Tutorial | | {% endblock %}
{% block content %}
<style>
   p {
   display: block;
   margin-top: 1em;
   margin-bottom: 1em;
   margin-left: 0;
   margin-right: 0;
   font-style: italic;
   font-size: 15px;
   }
   .info
   {
       font-size: 30px;
   }
   pre{
   background-color: #e0e0e0;
   border-radius: 10px;
   color: rgba(0,0,0,.9);
   font-family: Consolas,monospace;
   margin-bottom: 10px;
   overflow: auto;
   padding: 10px;
   margin: 0px 0px 10px;
   text-align: left;
   }
   .heading
   {
       color: #008c00;
   }
   .shead
   {
       color: #008c00;
   }
  
</style>
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
   <div class="container">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
               <a href="{% url 'index' %}">
                    <i class="fas fa-home"></i> Home</a></a>
            </li>
            <li class="breadcrumb-item active"> C++ Programming</li>
         </ol>
      </nav>
   </div>
</section>
</div>
<section id="about" class="py-4">
   <div class="container">
      <div class="row">
         <div class="col-md-8">
           
              
             

              <h4 class="heading">Lets Start Some coding Exercises : </h4>
                <br>
                <h5 style="color: brown">Note I am not attaching answers here this is your assignment 
                    so complete your assignment and mail us on help@ccatcracker.in . 
                    <br>

                </h5> <br>
                <h5>1.  Write a program in C++ to check whether a number is positive, negative or zero ?</h5> <br>
                    <pre>
                        Input : 
                        Enter a number : -4

                        Output :
                        This is a negative number 
                    </pre>
                    <br>
                <h5 style="color: brown">2. Write a language program in C++ which accepts the user's first and last name and print them in reverse order with a space between them.</h5>
                    <br>
                    <pre>
                       
                        Input First Name: ccat 
                        Input Last Name: cracker 
                        Name in reverse is: cracker ccat  
                    </pre>
                    <br>
                <h5 style="color: brown">3. Write C++  to check leap  year . Create function of leap year and call it from main function ? </h5>
                    <pre>
                        Input : 
                        Enter a year : 2016 

                        Output :

                        Not a leap year 
                    </pre>
                    <br>
                <h5 style="color: brown">4. Write a C++ program to compute the sum of the specified number of Prime numbers.</h5>
                    <br>
                    <pre>
                            Enter a number  = 7,
                            Output  = 2 + 3 + 5 + 7 + 11 + 13 + 17 = 58.
                    </pre>
                    <br>
                    <h5 style="color: brown">5. Write a C++ program to sum of all positive integers in a sentence.</h5>
                    <br>
                    <pre>
                            Sample string: There are 25 chairs, 20 desks and 1 blackboard .
                            Output: 46
                    </pre>
            
            
            
            
                <p> 

            
            </p>
           
            <br> <br>
            <h5 class="shead">Note : After that dont forgot to follow our questions program there i will update daily lots
                of snippets so start practicing hard I will give gurantee you will get great rank in exam .
            </h5>
            <h5 style="color: brown">

            </h5>
             <br> <br>
            <a  style="margin-left: 60%"  href="{% url 'CPP-Program-Exercises' %}" class="btn btn-secondary text-white btn-lg">Back To Main Course</a>
            <br> <br>
          </div>
      </div>
   </div>
</section>
</div>
{% endblock %}s