{% extends 'base_1.html' %}
{% block title %} Pure Virtual function, Abstract base class | C ++ Tutorial | | {% endblock %}
{% block content %}
<style>
   p {
   display: block;
   margin-top: 1em;
   margin-bottom: 1em;
   margin-left: 0;
   margin-right: 0;
   font-style: italic;
   font-size: 15px;
   }
   .info
   {
       font-size: 30px;
   }
   pre{
   background-color: #e0e0e0;
   border-radius: 10px;
   color: rgba(0,0,0,.9);
   font-family: Consolas,monospace;
   margin-bottom: 10px;
   overflow: auto;
   padding: 10px;
   margin: 0px 0px 10px;
   text-align: left;
   }
   .heading
   {
       color: #008c00;
   }
   .shead
   {
       color: #008c00;
   }
  
</style>
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
   <div class="container">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
               <a href="{% url 'index' %}">
                    <i class="fas fa-home"></i> Home</a></a>
            </li>
            <li class="breadcrumb-item active"> C++ Programming</li>
         </ol>
      </nav>
   </div>
</section>
</div>
<section id="about" class="py-4">
   <div class="container">
      <div class="row">
         <div class="col-md-8">
           
               <h3 style="color:green">Virtual Class  in C++  :  </h3> <br>
               <p >
                Virtual base classes are used in virtual inheritance in a way of preventing multiple “instances” of a given class appearing in an inheritance hierarchy when using multiple inheritances.
                <br> <br>
                
                </p>
               <h4 style="color: black">Copy Below Links And Watch Lectures First :</h4>
               <br>

               <h5 style="color:green">1. Virtual Class in C++ : https://youtu.be/i7IAXn7TMio</h5>
               <h5 style="color:green">2. Virtual Class in C++ : https://youtu.be/oS3N7KTZzVs</h5>
               <h5 style="color:green">3. Virtual Class in C++ : https://youtu.be/ABRn25V0C6A</h5>
               <h5 style="color:green">4. Virtual Class in C++ : https://youtu.be/3InUMCqviv0</h5>
             
               
               
              <br>
            

            <p> 
            
                <h4 style="color:green">Why we need Virtual Class  : </h4>

                the situation where we have one class A .This class is A is inherited by two other classes B and C. Both these class are inherited into another in a new class D
                <br> <br>
                           Class A -> B & C   <br>
                           B & C ->  D <br>
                            <br>
                         So  data members/function of class A are inherited twice to class D.
                        One through class B and second through class C. When any data / function member of class A is accessed by 
                        an object of class D, ambiguity arises as to which data/function member would be called? One inherited through B or the other inherited through C. This confuses compiler and it displays error.
                    <br>
                    <br>
                <h5 class="shead">Lets See an example :</h5>

                <pre>
                   #include < iostream> 
                   using namespace std; 
                      
                    class A { 
                    public: 
                        void show() 
                        { 
                            cout << "Hello form A \n"; 
                        } 
                    }; 
                      
                    class B : public A { 
                    }; 
                      
                    class C : public A { 
                    }; 
                      
                    class D : public B, public C { 
                    }; 
                      
                    int main() 
                    { 
                        D object; 
                        object.show(); 
                    } 
                </pre>

                <br>
                <h5 class="shead">Output :</h5>
                <pre>
                    Compiler will get confuse and will throw ambiguity error . 
                </pre>
                               
                <br>
                To resolve this ambiguity when class A is inherited in both class B and class C, it is declared as virtual base class by placing a keyword virtual as :
                <br> <br>
                <h5 class="shead">Lets see how can we resolve this issue : </h5>

                <pre>
                    #include < iostream> 
                    using namespace std; 
                          
                    class A { 
                    public: 
                        int a; 
                        A() // constructor 
                        { 
                            a = 10; 
                        } 
                    }; 
                      
                    class B : public virtual A { 
                    }; 
                      
                    class C : public virtual A { 
                    }; 
                      
                    class D : public B, public C { 
                    }; 
                      
                    int main() 
                    { 
                        D object; // object creation of class d 
                        cout << "a = " << object.a << endl; 
                      
                        return 0; 
                    } 

                    Output :
                    a = 10
                </pre>     
                <br>
                <br>
                <h5 class="shead">Explaination :</h5>
                <br>
                virtual can be written before or after the public. Now only one copy of data/function member will be copied to class C and class B and class A becomes the virtual base class.
                Virtual base classes offer a way to save space and avoid ambiguities in class hierarchies that use multiple inheritances. When a base class is specified as a virtual base, it can act as an indirect base more than once without duplication of its data members. A single copy of its data members is shared by all the base classes that use virtual base.
                <br> <br>
                The class A has just one data member a which is public. This class is virtually inherited in class B and class C. Now class B and class C becomes virtual base class and no duplication of data member a is done.
                <h4 class="heading">Pure Virtual Functions in C++ :</h4>
                <br>

                Pure virtual Functions are virtual functions with no definition. They start with virtual keyword and ends with = 0. Here is the syntax for a pure virtual function,
                <br>
                <pre>
                    virtual void f() = 0;
                </pre>
                <br>
                A class with at least one pure virtual function or abstract function is called abstract class. We can't create an object of abstract class. Member functions of abstract class will be invoked by derived class object.
                <br> <br>
                <h5 class="shead">Lets take an Example : </h5>
                <br>
                <pre>
                #include< iostream.h>
                #include< conio.h>
        
               class BaseClass       //Abstract class
               {
        
                      public:
                       virtual void Display1()=0;     //Pure virtual function or abstract function
                       virtual void Display2()=0;     //Pure virtual function or abstract function
        
                       void Display3()
                       {
                              cout<<"\n\tThis is Display3() method of Base Class";
                       }
        
               };
        
               class DerivedClass : public BaseClass
               {
        
                      public:
                       void Display1()
                       {
                              cout<<"\n\tThis is Display1() method of Derived Class";
                       }
        
                       void Display2()
                       {
                              cout<<"\n\tThis is Display2() method of Derived Class";
                       }
        
               };
        
               void main()
               {
        
                      DerivedClass D;
        
                      D.Display1();            // This will invoke Display1() method of Derived Class
                      D.Display2();            // This will invoke Display2() method of Derived Class
                      D.Display3();            // This will invoke Display3() method of Base Class
        
               }
        
            Output :
         
                       This is Display1() method of Derived Class
                       This is Display2() method of Derived Class
                       This is Display3() method of Base Class
         
                </pre> <br>
                <h4 class="shead">Why we need a abstract class?: </h4>
                <br>
                Let’s understand this with the help of a real life example. Lets say we have a class Animal, animal sleeps, animal make sound, etc. For now I am considering only these two behaviours and creating a class Animal with two functions sound() and sleeping().
                <br> <br>
                Now, we know that animal sounds are different cat says “meow”, dog says “woof”. So what implementation do I give in Animal class for the function sound(), the only and correct way of doing this would be making this function pure abstract so that I need not give implementation in Animal class but all the classes that inherits Animal class must give implementation to this function. This way I am ensuring that all the Animals have sound but they have their unique sound.

                <br> <br>
                <h5 class="shead">Lets take an example :</h5>
                <br>
                <pre>
                #include&lt;iostream>
                using namespace std;
                class Animal{
                public:
                   //Pure Virtual Function
                   virtual void sound() = 0;
                
                   //Normal member Function
                   void sleeping() {
                      cout<<"Sleeping";
                   }
                };
                class Dog: public Animal{
                public:
                   void sound() {
                      cout<<"Woof"<< endl;
                   }
                };
                int main(){
                   Dog obj;
                   obj.sound();
                   obj.sleeping();
                   return 0;
                }
                </pre>
                <br> <br>
                <h4 class="heading">Important Points :</h4>
                <br>
                1) As we have seen that any class that has a pure virtual function is an abstract class.  <br> <br>
                2) We cannot create the instance of abstract class. For example: If I have written this line Animal obj; in the above program, it would have caused compilation error. <br> <br>
                3) We can create pointer and reference of base abstract class points to the instance of child class. For example, this is valid: <br> <br>
                <pre>
                    Animal *obj = new Dog();
                    obj->sound();
                </pre>
                <br>
                4) Abstract class can have constructors. <br> <br>
                5) If the derived class does not implement the pure virtual function of parent class then the derived class becomes abstract.
                <br> <br>
                Keep in mind exam will 100 % ask objective questions on these topics .

                <br> <br>

                <h4 class="heading">Abstraction : </h4>
                Abstraction is a process of hiding the implementation from the user, only the functionality is exposed here. So you are aware only of what the application does, not how it does it.

                <br> <br>

                <h4 class="heading">Real life Example :</h4>
                <br>
                When you log into your email, compose and send a mail. Again there is a whole lot of background processing involved, verifying the recipient, sending request to the email server, sending your email. Here you are only interested in composing and clicking on the send button. What really happens when you click on the send button, is hidden from you.

                <br>

                <br>
                <h5 style="color: brown">So thats it our CPP course is completed practise assignment which I gave 
                    and do lots of coding . Dont forget to  be always active on ccatcracker I will start question 
                    series very soon . 
                </h5><br>
            </p>
            <h5 class="shead">Note : Exam will ask some  objective question on Abstraction and virtual Functions so 
               watch all videos very carefully  then you can solve any problem very easily . <br>
            </h5>
            <br> <br>
            <h5 style="color: brown">Note : Please dont skip any videos think like you are in classroom 
                so you cant miss it . this Tutorial are very very great available on internet . Please let me 
                know if you have any doubts 
            </h5>
             <br> <br>
            <a  style="margin-left: 60%"  href="{% url 'CPP-Program-Exercises' %}" class="btn btn-secondary text-white btn-lg">CPP-Programming-Assignment</a>
            <br> <br>
          </div>
      </div>
   </div>
</section>
</div>
{% endblock %}s