{% extends 'base.html' %}
{% block title %} C Language Introduction  {% endblock %}

{% load static %}

{% block content %}

<section id="showcase-inner" class="py-5 text-white">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h1 class="display-4">About Us</h1>
              <p class="lead">Provide best study material and test which will 100 % help to secure 
                  best rank in ccat exam .Just follow ccatcracker.in upto end of cdac journey I am secure
                  Guys you will get very great result.
              </p>
            </div>
          </div>
        </div>
      </section>
    
      <!-- Breadcrumb -->
      <section id="bc" class="mt-3">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">
                  <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item active"> About</li>
            </ol>
          </nav>
        </div>
      </section>
    
      <section id="about" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h2>Search For The Perfect Study Material</h2>
              <p class="lead">Check Out the study Material that notes are very relevent to exam nothing useless.</p>
             
              <p class="mt-4">If you click CCAT section you will get all material .That notes are created by me 
                  I have completed CDAC 1 year ago . I saw how much peoples do struggle to get perfect notes unnecessary
                they wate lots of money for Pre-Dac Course . Thats why i have developed this website only for You Guys.
                So stay with me and start to explore I always update new Material and Important Tips for how to success in CDAC.           </p>
            </div>
            
            </div>
          </div>
        </div>
      </section>
    
      <!-- Work -->
      <section id="work" class="bg-dark text-white text-center">
        <h4 >We are here for you if any concern issue please email Us.</h4>
        <h4>Lets Checkout CCAT Section</h4>
        
        <a href="{% url 'index' %}" class="btn btn-secondary text-white btn-lg">CCAT</a>
      </section>
    
     




{% endblock %}