{% extends 'base_1.html' %}
{% block title %}English Reasoning Aptitude Tutorials | Aptitude {% endblock %}

{% block content %}
<style>
        p {
          display: block;
          margin-top: 1em;
          margin-bottom: 1em;
          margin-left: 0;
          margin-right: 0;
      
          font-size: 17px;
          
        }
        pre{
            background-color: #e0e0e0;
            border-radius: 10px;
            color: rgba(0,0,0,.9);
            font-family: Consolas,monospace;
            margin-bottom: 10px;
            overflow: auto;
            padding: 10px;
            margin: 0px 0px 10px;
            text-align: left;
            

        }
        .heading{
            color: green;
        }
        </style>
    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'variables' %}">
                  <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item active"> C Language</li>
            </ol>
          </nav>
        </div>
      </section>
     
    </div>
    <section id="about" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
             
            
                <h3 style="color:green">Exam important topics for Aptitude  : </h3>

                <p >
                    Numbers                       <br> <br>
                    HCF & LCM <br> <br>
                    Average <br> <br>
                    Ages <br> <br>
                    Percentage <br> <br>
                    Profit & Loss <br> <br>
                    Time & Work <br> <br>
                    Pipes & Cisterns <br> <br>
                    Time & Distance <br> <br>
                    Boats & Streams <br> <br>
                    Trains <br> <br>
                    Simple Interest <br> <br>
                    Compound Interest <br> <br>
                    Permutation & Combination <br> <br>
                    Probability <br> <br>

                    Now for Aptitude almost 15-20 questions ccat exam  will ask. <br> <br>
                    Above topics are more than enough to solve apti  questions . <br> <br>
                    For Aptitude I will recommend some channels name so pick whichever you feel good . <br> <br>
                    Remember pre dac classes also provide 4 days apti training so dont think that if u join pre dac you will get lots of apti knowledge . <br> <br> 
                    You need to prepare yourself by self study only . <br> <br>
                    So watch videos on each topic try to understand logic and basic concepts and after that solve 50 question at least on each topic . you will get lots of benefits . 
                    <br> <br>
                    Youtube channels : <br>  <br>
                    1. Study Smart . <br> <br>
                    2. Study Iq . <br> <br>
                    3. Current Affairs Funda  <br> <br>

                    Now watch videos for each topic from any one of the above channel and practice lots of questions . <br> <br>
                
                    click questions section above and see lots of apti questions are there try to solve them . <br> <br>

                    
            
                
                
                </p>
                <h3 style="color:green">Exam important topics for Reasoning  : </h3>
                <p>
                    Sitting Arrangement   <br> <br>
                    Direction Sense <br> <br>
                    Coding Decoding <br> <br>
                    Data Sufficiency <br> <br>
                    Blood Relations <br> <br>
                    Clock and calanders . <br> <br>

                    Exam will ask 15-20 questions on reasoning on only above 4,5 topics . 
                    <br> <br>
                    Refer same above channels for reasoning preparation Remember your self study is only important trust me not any single pre dac will teach apti and Reasoning more than 4 days . and in 4 days do you really think you can learn aptiti
                    . <br> <br>
                    So start your self learning its really good practice . search on google if you didnt understand any concept . learn each topic
                    and try to solve 20,30 questions on the same . I will update lots of important Aptitude question for practice with answer . <br> <br>
                    
                </p>
                


             <h4 class="heading">Don't forget to give my test series on Udemy it will help you a lot . </h4> <br> <br>
           
            <a  style="margin-left: 60%"  href="{% url 'ccat_notify' %}" class="btn btn-secondary text-white btn-lg">Back-To-Home</a>
   
            </div>
          </div>
         
        </div>
      </section>
      

   
        
</div>

{% endblock %}