{% extends 'base.html '%}

{% block content %}
<style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        p{
          font-family: sans-serif
        }



      </style>
   <!-- Breadcrumb -->
   <section id="bc" class="mt-3">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">
                  <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item active">CCAT</li>
            </ol>
          </nav>
        </div>
      </section>
      
      {% include 'partials/_alerts.html' %}

      <section id="about" class="py-4">
            <div class="container">
              <div class="row">
                <div class="col-md-8">
                  
                  <h2>Search For The Perfect Study Material</h2>
                  <p class="lead">Checkout The Syllabus and Perfect notes to crack ccat with Good Rank.</p>
                
                  <p class="mt-4">Hey Guys Please read this Very carefully . <br>
                        Before going to ccat exam first follow all the process which i Had mentioned. <br>
                        First read syllabus . <br>
                        Second Read my notes very carefully.If you follow my notes you can easily solve 80% quetions. <br>
                        Finally after completing study and videos which i have recommend in notes Before exam give
                        My practice online test i am sure Guys this is a very important test that will gain your confidence in exam. br
                        At least give 4 test each year i change data as per exam requirement so follow only material from this website .     </p>
                        
                                
                    <table style="width:100%">
                    <tr>
                        <th>Sections</th>
                        <th>Topics</th> 
                        <th>Time</th>
                    </tr>
                    <tr>
                        <td>Section A</td>
                        <td>English Aptitude & Reasoning</td>
                        <td>1 Hour</td>
                    </tr>
                    <tr>
                        <td>Section B</td>
                        <td>C ,C++ ,Data Structre,Operating System,Networking</td>
                        <td>1 Hour</td>
                    </tr>
                    <tr>
                       <td>Section C</td>
                        <td>Computer Architecture,Digital Electronics,Microprocessors</td>
                        <td>1 Hour</td>
                    </tr>
                    </table>
                   
                      
                        <h4 style="color: goldenrod">Subscribe ccatcracker.in to Get Daily Practice Questions For ccat </h4  >
                          <h5> Enter Your Email Below We will Send you Daily Notification . You will get daily Coding Snippet as well as Aptitude and English Reasoning 
                            Practice Questions Free . Also Will send Sample Study Material If you Like Buy Else Leave It. <br></h5>
                        
                       
                </div>
            </section>
     <section id="work" class="bg-dark text-white text-center">
           
           
            <form action="{% url 'ccat_notify' %}" method="POST">
                {% csrf_token %}
                <h4>Enter Email To get Sample Study Material and Daily Practice Questions.</h4>
                     E-mail: <input style="color: black" type="email" required name="email">
                    <input style="color: green" type="submit">
              </form>  
              <h4>Lets Checkout CCAT Section</h4>
            <a href="{% url 'checkout' %}" class="btn btn-secondary text-white btn-lg">CCAT</a>
          </section>
    
        <section id="about" class="py-4">
            <div class="container">
              <div class="row">
                <div class="col-md-8">
                  <h3>Do not join any Pre-Dac Course Guys Don't waste your money. </h3  >
                      <p class="lead">Check Out the study Material that notes are very relevent to exam nothing useless.</p>
                      
                      <p class="mt-4">If you click CCAT section you will get all material .That notes are created by me 
                          I have completed CDAC 3 year ago . I saw how much peoples do struggle to get perfect notes unnecessary
                        they waste lots of money for Pre-Dac Course . Thats why i have developed this website only for You Guys.
                        So stay with me and start to explore I always update new Material and Important Tips for how to success in CDAC.           </p>
                    </div>
                    </div>
                   
                </div>
                
            
        </section>
        
        <section id="about" class="py-4">
            <div class="container">
              <div class="row">
                <div class="col-md-8">
                  
                       <h3>Do You Know ? What Pre-Dac Coacing Will provide ?. </h3>
                      <p class="lead">Please read below instruction about predac course .</p>
                      
                      <p class="mt-4">
                        1. I joined Pre-Dac Course by paying almost 12k for only 2 month in 2017. <br>
                        2. I will not take name but I hope you guys underastand very famous Pre-Dac In Pune. <br>
                        3. I Got rank 2300 . I am saying everything honestly because I dont want you guys also wate that huge money. <br>
                        4. In Pre Dac first 20 days C langugae . <br>
                        4. Next 20 days Data Structure and C++ <br>
                        5. Only 3 days Aptitude . <br>
                        6. 10 days OS and Networking <br>
                        7. Thats it guys this is syllabus provided by pre dac .Nothing Extra. <br>
                        8. I have analyzed all this problem and thats why i have developed this website only for ccat . <br>
                        9. We are here 24*7 for any guidence you guys required just email us . <br>
                       10. I developed study material if you follow that i will give gurantee guys without investing huge amount you will get good rank. <br>
                       11. After completing my notes and videos  go for test series . Dont think about 600 Rs . Guys this test series i developed very similar to main ccat exam. <br>
                       12. You will get clear idea about how quetions will come in exam . In same ccat format I developed Test series. <br>
                       13. All the best Guys !!!! Just Stay on ccatcracker and get great success in CDAC Journey .. <br>
                      </p>
                    </div>
                    </div>
                  
                </div>
                
            
        </section>






{% endblock %}