{% extends 'base_1.html' %}
{% block title %} Dynamic Memory Allocation | C Language Tutorial  {% endblock %}
{% block content %}
<style>
   p {
   display: block;
   margin-top: 1em;
   margin-bottom: 1em;
   margin-left: 0;
   margin-right: 0;
   font-style: italic;
   font-size: 15px;
   }
   pre{
   background-color: #e0e0e0;
   border-radius: 10px;
   color: rgba(0,0,0,.9);
   font-family: Consolas,monospace;
   margin-bottom: 10px;
   overflow: auto;
   padding: 10px;
   margin: 0px 0px 10px;
   text-align: left;
   }
</style>
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
   <div class="container">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
               <a href="{% url 'Pointers-In-C-Language-Tutorial' %}">
                 Previous</a>
            </li>
            <li class="breadcrumb-item active"> C Language</li>
         </ol>
      </nav>
   </div>
</section>
</div>
<section id="about" class="py-4">
   <div class="container">
      <div class="row">
         <div class="col-md-8">
               <h3 style="color: green">Why Should I join ccatcracker Course not Private ? </h3>
               <p>
                  I got mail 4,5 why should we join your course why not private and how can you be sure your 
                  course will give us good rank ? 
                  <br> <br>
                  So , I will tell why you should join ccatcracker course . <br> <br>
                  Look its simple ccat exam is not too much difficult so it doesnt make any sense that you are 
                  investing 12,15k for pre cat 40 days course . <br><br>
                  Believe me or not ask anyone who completed pre dac course is he/ she able to solve C++ coding
                  or they are able to solve some data Structure . <br><br>
                  You can ask by your self I will tell 70 % student dont know even C ,C++ basic but they got 
                  good rank its just luck . <br> <br>
                  But while doing CDAC how much they face problem that you will know while doing cdac  . <br><br>
                  And why you dont want self study if anyone tell you start study then only you will study 
                  if you think by doing these activity you will great success in CDAC then you are wrong my friend . 
                  <br> <br>
                  I have completed CDAC i know that what issues we face thats why I developed these free website . <br>
                  <br>
                  Now if you do my course you can able to solve C,Data Structure,C++ programming that much we have covered 
                  from very basic to advance . <br> <br>
                  My goal is not only get success in ccat exam I want whoever follow my website will get placed within 
                  first month of placement . <br> <br>
                  And thats why i have coverd too much syllabus which will make you very strong and confident while doing CDAC . 
                  <br> <br>
                  This is the benefit of my course you can as your own speed its not mandatory you have to finish it in 45 days 
                  if you not able to understand any concept watch video twice that you cannot do in private classes . <br>

                  <br> 
                  Thats it from my side if you like join else Your own wish ... <br> <br>
                  
                  All The Best Happy Coding .. <br>

               </p>

          
            <h3>Welcome to ccatcracker 45 Days Crash course  . </h3>
            <h4 style="color: green">Learning Agenda  : </h4>
            <h5 style="color: black">Note : Course will start from 1st sep 2019 </h5>
            <p class="mt-4">
                <h5>I have divided whole course in 45 days So please start from day 1 </h5> <br>
                <h5>Dont miss any single lecture videos just think like you have paid 12k , and you are 
                    doing pre dac course from private institue . <br>
                </h5>
                <h5>
                    Fix your daily target of 6 hrs same like any coaching center .
                </h5>
                <h5>After each day learn first then solve my assignments before start next day you must have to finish assignments on the same day .  </h5> <br>
                <h5>If you follow all these instructions honsetly for 45 days you will achieve very very great rank </h5> 
                <h5>Take holiday only on sunday then again mon-sat concentrate on your course . </h5> 
                <br>
                <h4 style="color: green">C Language (Day 1 -  Day 15) :</h4>
                <br>
                <a style="margin-left: 30%"  href="#" class="btn btn-secondary text-white btn-lg">C Language Tutorial</a><br> 
                <br> <br>
                <h4 style="color: green">C++ Language (Day 16 -  Day 26) :</h4> <br>

                <a style="margin-left: 30%"  href="#" class="btn btn-secondary text-white btn-lg">C++ Language Tutorials</a><br> <br>
                
                <h4 style="color: green">Data Structure (Day 27 -  Day 31) :</h4> <br>

                <a style="margin-left: 30%"  href="{% url 'Data-Structure-Tutorial' %}" class="btn btn-secondary text-white btn-lg">Data Structure Tutorials</a><br> <br>
            
                <h4 style="color: green">Operating System (Day 32 -  Day 34) :</h4> <br>

                <a style="margin-left: 30%"  href="{% url 'OS-Tutorial' %}" class="btn btn-secondary text-white btn-lg">Opearating System Tutorials</a><br> <br>
            
                <h4 style="color: green">Networking  (Day 35-  Day 36) :</h4> <br>

                <a style="margin-left: 30%"  href="#" class="btn btn-secondary text-white btn-lg">Networking Tutorials</a><br> <br>
                
                <h4 style="color: green">English & Aptitude (Day 37 - Day 45):</h4> <br>

                <a style="margin-left: 30%"  href="#" class="btn btn-secondary text-white btn-lg">English & Aptitude </a><br> <br>
                <br> <br>
                <h5 style="color: black">Note : Course will start from 1st sep 2019 </h5>
         </div>
      </div>
   </div>
</section>
</div>
{% endblock %}