{% extends 'base_1.html' %}
{% block title %} Dynamic Memory Allocation | C Language Tutorial  {% endblock %}
{% block content %}
<style>
   p {
   display: block;
   margin-top: 1em;
   margin-bottom: 1em;
   margin-left: 0;
   margin-right: 0;
   font-style: italic;
   font-size: 15px;
   }
   pre{
   background-color: #e0e0e0;
   border-radius: 10px;
   color: rgba(0,0,0,.9);
   font-family: Consolas,monospace;
   margin-bottom: 10px;
   overflow: auto;
   padding: 10px;
   margin: 0px 0px 10px;
   text-align: left;
   }
</style>
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
   <div class="container">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
               <a href="{% url 'Pointers-In-C-Language-Tutorial' %}">
                 Previous</a>
            </li>
            <li class="breadcrumb-item active"> C Language</li>
         </ol>
      </nav>
   </div>
</section>
</div>
<section id="about" class="py-4">
   <div class="container">
      <div class="row">
         <div class="col-md-8">
          
            <h3>Welcome to ccatcracker 45 Days Crash course </h3>
            <p >Before Start my notes read this whole
                page very very carefully then only you will
                understand what to study to get max benefits</p>
            <p>
                There are 2 sections in exam : <br>
                    1. Section A <br>
                    2. Section B <br> <br>
               <h4>Section A:</h4> 
               <h5 style="color: green">
                    15 Questions On English <br>
                    20 Questions Aptitude <br>
                    15 Questions Reasoning <br>
                </h5>
                <br>
                <h4>Section B:</h4> 
                <h5 style="color: green">
                    15 Questions C language<br>
                    12 Questions on C++<br>
                    10 Questions on Data Structure<br>
                    13 Questions on OS and Networking<br>
                 </h5><br>

                 Note : Above Questions pattern vary each time
                 but max time this is standard .

                <h4 style="color: green">Section A: - English :</h4>

                1. Synonyms            <br>
                2. Antonym<br>
                3. Passage<br>
                4. Grammar Correction<br> <br>
                <h4 style="color: green">Section A: - Aptitude :</h4>
                Numbers                    <br>
                HCF & LCM<br>
                Average<br>
                Ages<br>
                Percentage<br>
                Profit & Loss<br>
                Time & Work<br>
                Pipes & Cisterns<br>
                Time & Distance<br>
                Boats & Streams<br>
                Trains<br>
                Simple Interest<br>
                Compound Interest<br>
                Permutation & Combination<br>
                Probability<br>
                <br>
                <h4 style="color: green">Section A: - Reasoning :</h4>
                Sitting Arrangement  <br>
                Direction Sense<br>
                Coding Decoding<br>
                Data Sufficiency<br>
                Blood Relations<br>

                <br>

               <h4 style="color: green">Section B: - C Language :</h4>
               Most Important topics  :
               <br><br>
               1. Array                                 <br>
               2. Loop<br>
               3. Functions<br>
               4. Pointers<br>
               5. Data Types<br>
               6. String and Structures<br>
               7. Some extra coverd in ccatcracker notes<br> .
               <br>
               <h4 style="color: green">Section B: - C++ Language :</h4>
               Classes and Objects.                   <br>
               Constructors and Destructors.<br>
               Inheritance and Polymorphism.<br>
               Functions.<br>
               OOPS<br>
               Operators<br>
               Data Types<br>
               Overloading <br>
               Some extra coverd in ccatcracker notes.<br>
               <br>

               <h4 style="color: green">Section B: - Data Structure :</h4>
                 
               Linked List                                  <br>
               Sorting<br>
               Queue<br>
               Searching<br>
               Basic tree <br>
               Prefix to Postfix (Vice Versa) <br>
               some imp topics covered in ccatcracker notes <br>
               <br>
               <h4 style="color: green">Section B: - Operating System :</h4>
               1. Types of operating system  <br>
               2. CPU scheduling<br>
               3. Memory managements<br>
               4. Virtual memory<br>
               5. Paging<br>
            </p><br>
            <h4 style="color: green">Section B: - Networking :</h4>
               Topology                                         <br>
               OSI Layers compare with TCP/IP<br>
               Internetworking & Networking devices<br>
               Switching Techniques<br>
               LAN, MAN, WAN<br>
               Addressing (Class- A B C D E)<br>
               Port Numbers (ftp,http,https,telnet,dns,pop)<br>
               MAC Address<br>
               IPV6 vs IPv4<br>
               <br>
               <br>
            <h4 style="color: green">
            Now main question is how to prepare . if you think by taking private 12k class will help you to crack ccat
            then your are wrong because what they will provide in 45 days with more than 200 students at a time 
            so think carefully and take your decision . I am here providing 45 days free crash course and see if 
            anyone follows this very honsetly how big he/she will achieve from ccatcracker .. <br> <br>
            </h4>

            <h4 style="color: black">Note : All above topics are coverd in our course in very detail so you can easily solve maximum questions from ccat <br>
             </h4>
              <br>
              <br>
              <h4 style="color: green">So lets start your ccat journey with us click below :  </h4> <br>
            <a style="margin-left: 30%"  href="{% url 'C-CAT-2019-Predac-Course' %}" class="btn btn-secondary text-white btn-lg">C-CAT-Course</a><br> <br>
            
         </div>
      </div>
   </div>
</section>
</div>
{% endblock %}