{% extends 'base_1.html '%}
{% block title %} Top 50 Interview Questions on Data Structure {% endblock %}
{% block content %}
<style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        </style>
   <!-- Breadcrumb -->
   <section id="bc" class="mt-3">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'index' %}">
                  <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item active">CCAT</li>
            </ol>
          </nav>
        </div>
      </section>
      
    






{% endblock %}