{% extends 'base_1.html' %}
{% block title %}English Reasoning Aptitude Tutorials | English {% endblock %}

{% block content %}
<style>
        p {
          display: block;
          margin-top: 1em;
          margin-bottom: 1em;
          margin-left: 0;
          margin-right: 0;
      
          font-size: 17px;
          
        }
        pre{
            background-color: #e0e0e0;
            border-radius: 10px;
            color: rgba(0,0,0,.9);
            font-family: Consolas,monospace;
            margin-bottom: 10px;
            overflow: auto;
            padding: 10px;
            margin: 0px 0px 10px;
            text-align: left;
            

        }
        .heading{
            color: green;
        }
        </style>
    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'variables' %}">
                  <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item active"> C Language</li>
            </ol>
          </nav>
        </div>
      </section>
     
    </div>
    <section id="about" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
             
            
                <h3 style="color:green">Exam important topics for English  : </h3>

                <p >
                    1. Synonyms            <br> <br>
                    2. Antonyms <br> <br>
                    3. Passage <br> <br>
                    4. Grammar Correction <br> <br>

                    Now this part of the english is totally depends on you whatever you learnt from school to today . 
                    because no one will give Tutorials on english because its impossible . <br> <br>
                    Yes , but i can tell you what type of questions exam will ask . <br> <br>
                    For English almost 10,15 questions in exam so think how important it is . <br> <br>
                    Passages are not too much difficult try to understand passage carefully and then only start to give answers . <br> <br>
                    Synonyms and Antonyms these are another 2 important topics of exam exam 100 % ask 5 to 8 questions on these topics .
                    if your vocabulaory is strong then only you can solve these questions . <br> <br>
                    Dont worry but try to learn new english words as much as possible . <br> <br>
                    I will give exact exam pattern on my udemy test series ,there you will finds exact pattern of exam . <br> <br>
                    Now last one is grammer Correction exam will ask to fill a,an, the or correct sentence grammerly like that . <br> <br>
                    I will suggest try to solve 10,20 passages from google so you will get idea about passages . <br> <br>
                    That's it for English . There is no tutorials for english even you join any private pre dac course they will also not give any tutorials . <br> <br>
                </p>
             
                


             <h4 class="heading">Dont forget to give my test series on Udemy it will help you a lot . </h4> <br> <br>
           
            <a  style="margin-left: 60%"  href="{% url 'Aptitude-Tutorial' %}" class="btn btn-secondary text-white btn-lg">Aptitude </a>
   
            </div>
          </div>
         
        </div>
      </section>
      

   
        
</div>

{% endblock %}