{% extends 'base_4.html' %}
        <!-- Main -->
{% block content %}
			<div id="main">

			<!-- One -->
				<section class="wrapper style1">
					<div class="inner">
						<header class="align-center">
							<h2>Health And Fitness</h2>
							<p>Very researched and detail health and fitness blog </p>
						</header>
						<!-- 2 Column Video Section -->
							<div class="flex flex-2">
								<div class="video col">
									<div class="image fit">
										
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
										The best diet blogs 
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
										
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
										The best fitness blogs
									</p>
									<a href="{% url 'ccat_notify' %}" class="link"><span>Click Me</span></a>
								</div>
							</div>
					</div>
				</section>

			<!-- Two -->
				<section class="wrapper style2">
					<div class="inner">
						<header>
							<h2>Music Instruments Training</h2>
							<p>Learn Guitar and Indian Bamboo Flute from Very beginnig to advance level .</p>
						</header>
						<!-- Tabbed Video Section -->
							
								<ul class="tab-list">
									<li><a href="#" data-tab="tab-1" class="active">Guitar Training</a></li>
									<li><a href="#" data-tab="tab-2">Indian Bamboo Flute Training</a></li>
								
									<li><a href="{% url 'music' %}" class="link"> Songs Notation and Sargam</a></li>
								</ul>
                       	     </div>
					</div>
                </section>

			<!-- Three -->
				<section class="wrapper ">
					<div class="inner">
						<header class="align-center">
							<h2>CDAC CCAT Entrance Exam </h2>
							<p>Free pre dac 45 days course.Cdac ccee ccat Interview</p>
						</header>

						<!-- 3 Column Video Section -->
							<div class="flex flex-3">
								<div class="video col">
									<div class="image fit">
										
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
                                        Cdac ccat ccee Interview  preparation 
                                        for Dac and Big data 
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
										
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
                                        Machine Learning with Python from 
                                        very basic to advance

                                    </p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
								<div class="video col">
									<div class="image fit">
										
										<div class="arrow">
											<div class="icon fa-play"></div>
										</div>
									</div>
									<p class="caption">
										Interview preparation top questions list 
									</p>
									<a href="generic.html" class="link"><span>Click Me</span></a>
								</div>
							</div>
					</div>
				</section>

			</div>

	
		<!-- Scripts -->
			

	</body>
{% endblock %}