{% extends 'base.html '%}

{% block content %}
<style>
  p {
        font-size: 17px;
  }
</style>
 <!-- Showcase -->
 <section id="showcase" style="background-image: url(../static/img/ccee.jpg);background-repeat: no-repeat;background-attachment: fixed;">
        <div class="container text-center">
          <div class="home-search p-5">
            <div class="overlay p-5">
              <h1 class="display-4 mb-4">
                Search Centers Course Wise
              </h1>
            
              <p class="lead">Please enter course name and city you will get list of cdac center</p>
              <div class="search">
                <form action="{% url 'search' %}">
                  <!-- Form Row 1 -->
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label class="sr-only">Course</label>
                        <select name="course" class="form-control">
                          <option selected="true" disabled="disabled">Courses (All)</option>
                          <option value="DAC">DAC</option>
                          <option value="Big Data">Big Data</option>
                          <option value="IOT">IOT</option>
                          <option value="VLSI">VLSI</option>
                          <option value="HPCSA">HPCSA</option>
                        </select>
                    </div>
    
    
                    <div class="col-md-6 mb-3">
                      <label class="sr-only">City</label>
                      <select name="city" class="form-control">
                        <option selected="true" disabled="disabled">City (All)</option>
                        <option value="Pune">Pune</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Kolkatta">Kolkatta</option>
                        <option value="Banglore">Banglore</option>
                        <option value="Noida">Noida</option>
                      </select>
                    </div>
                  </div>
               
                  </div>
                  <button class="btn btn-secondary btn-block mt-4" type="submit">Search Center</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      </div>
        </div>
      </section>
      <section id="about" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h2>Search everything Related to cdac here </h2>
              <p>Check out the study Material for ccat , Which college you will get  as per your rank .</p>
             
              <h3>What I will get on ccatcracker : </h3>
              <p class="mt-4"> 

               Here everything you will get related to cdac .how to prepare free for ccat exam , how to prepare for 
               interview. how to prepare for ccee exam . Mock test for ccat exam . Rank wise college list . 
              </p>
              <br>
              <h3 style="color: brown">Pre Dac Free Course :</h3>
              <p>
                    On this website I have designed free predac ccat course that course is designed in such a way 
                    it will not only help you in cdac ccat journey but also it will help you a lot in CDAC . <br> <br>
                    Because normally in ccat exam you will learn very basics from private coaching even if you get  good rank 
                    after that while doing cdac students will face lots of problems because they even dont know how to code in C Language . <br> <br>
                    This is very simple logic if you dont know C , how will you understand C++ in CDAC . And if you dont know
                    C++ you will pick java that means you will face very very big issue while interview . <br> <br>

                    Thats why pre dac is very very Important you have to prepare yourself very strong in C and C++ before join CDAC . <br> <br>

                    Hence I have developed pre dac course which will give you very strong hands on for C and C++ you will get too much benefits while doing CDAC if you follow my free ccat Course . <br>
                    <br>

                    So even if you want to join any private coaching then go ahead and join class but still you can free follow my course which will help you a lot in cdac . <br> <br>

                    Here we have quetions-of-the day Program in that I will upload daily one new Aptitude and Coding question with answer that will help you to prepare technically very strong during interview . <br><br>

                    So dont miss this Course if you are prepare now for ccat exam . Our test series is really very very relevent to exam which will help you to understand exam pattern so dont forget to give ccat test series before exam . <br> <br> 

                    Click below link for start free pre dac course . <br> <br>
                    <a  style="margin-left: 40%"  href="{% url 'ccat' %}" class="btn btn-secondary text-white btn-lg">Pre-Dac Course</a>
                    <br> <br>
            
              </p>
              <h3 style="color: brown">What is CCEE Exam  :</h3>
              <p>
                Guys This is the exam on which your whole placement is depend . <br>
                No matter in which college you studied whether it acts or sunbeam or any placemement is commom for all . <br>
                It only depends on what is your ccee scrore thats it . <br>
                If your ccee scrore is above 60% Then you will get lots of calls . <br>
                If your Score is less than 60% call numbers in first month will be less . <br>  
                So main question is how to prepare for ccee exam ? <br>
                At the end of cdac course you might heard about acts dumps acts will give dumps and all question come only through that dumps . <br>
                This is a very very worst joke guys there is nothing like dumps its just myths.. <br>
                <br> 
                Lets checkout more detail abour ccee exam click below : <br> <br>
                <a  style="margin-left: 40%"  href="{% url 'ccee' %}" class="btn btn-secondary text-white btn-lg">CCEE Exam </a>
                <br> <br>
              </p>
              <h3 style="color: brown">Which college I will get for my rank ?  :</h3>
              <p>
                Everyone will confuse after result declare which college i will for my rank . <br> <br>
                so here as per last records we have provided some probability that which college you will get as per your rank . <br><br>
                Click bewlow to check that : 
                <br> 
                <a  style="margin-left: 40%"  href="{% url 'cdac' %}" class="btn btn-secondary text-white btn-lg">College-My-Rank</a>
                <br> <br>
              </p>
            </div>
          </div>
        </div>
      </section>
      <section id="services" class="py-5 bg-secondary text-white">
          <div class="container">
            <div class="row text-center">
              <div class="col-md-4">
                <i class="fas fa-comment fa-4x mr-4"></i>
                <hr>
                <h3>About Us</h3>
                <p>Hey guys this is the website I have developed to all those students wants
                  to success in cdac from start to end here you will find everything regarding CDAC.
                </p>
              </div>

             
              <div class="col-md-4">
                  <i class='fas fa-laptop-code' style='font-size:48px'></i>
                <hr>
                <h3>Test Series</h3>
                <p>This online test series i have designed for ccat exam you will feel like you are 
                  giving ccat exam after taking this test you will feel confident for exam. I recommend
                  you guys at leaset give 2,3 test before exam my quetions are very relevent to ccat. 
                </p>
              </div>
              <div class="col-md-4">
                <i class="fas fa-suitcase fa-4x mr-4"></i>
                <hr>
                <h3>Contact Us</h3>
                <p>This is the website only to clear doubts of all the students so feel free to contact us at any time for anything 
                  regarding cdac.</p>
              </div>
            </div>
          </div>
        </section>

{% endblock %}