{% extends 'base.html' %}
{% block content %}
<section id="bc" class="mt-3">
   <div class="container">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
               <a href="{% url 'index' %}">
               <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Questions</li>
         </ol>
      </nav>
   </div>
</section>
<section id="about" class="py-4">
   <div class="container">
      <div class="row">
         <div class="col-md-8">
            <ul>
                <li><a href="#"><strong>Python Interview Questions and Answers </strong></a></li> <br> 
                <li><a href="#"><strong>Java Interview Questions and Answers </strong></a></li> <br>
                <li><a href="#"><strong>Data Structure Interview Questions and Answers </strong></a></li> <br>
                <li><a href="#"><strong>C++ Interview Questions and Answers </strong></a></li> <br>
             </ul>
           
         </div>
        
      </div>
   </div>
   <br> <br>
   </div>
</section>
{% endblock %}