{% extends 'base.html' %}
{% block title %} CDAC CCAT Mock Test | CCAT online Test Seies | CCAT Test {% endblock %}

<style>
   div {
   background-color: lightgrey;
   width: 300px;
   border: 15px solid green;
   padding: 50px;
   margin: 20px;
   }
</style>
{% block content %}
<body onload="countdown()">
   
</body>
{% include 'partials/_alerts.html' %}
<section id="about" class="py-4">
   <div class="container">
   </div>
</section>
<section id="bc" class="mt-3">
   <div class="container">
      <div class="breadcrumb">
         <a href="{% url 'index' %}"> Home</a> <span style="color: green;">»</span> <a href="{% url 'test' %}"> Online Test</a> <span style="color: green;">»</span> <a href="{% url 'test' %}">CCAT-Test Section-A+B</a> <span style="color: green;">» Section A+B Test - Random</span> <span id="timers" style="color: red; padding-left: 15px;">Time Left: <b id="timer"></b></span> 
         
        
       
    </div>
   </div>
</section>


<section id="about" class="py-4">
   <div class="container">
   <div class="row">
   <div class="col-md-8">
  <br> <br>
   <h4 style="margin-left: 30%">Solve Question in :</h4>
   {% if listings %}
   {% for list in listings %}
   
   <form action="{% url 'result2' %}" method="POST" name="q" >
      {% csrf_token %}
     
    
   <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <tbody>
         <tr>
            <h4 style="margin-left: 30%; color:blueviolet"> <strong>Question Type :{{list.qtype}}</strong> </h4>
            <td  rowspan="2" valign="top" align="left">{{list.id}}.</td>
            <td  valign="top">
               <p>{{list.question|linebreaks}}</p>
            </td>
         </tr>
         <tr>
            <td  valign="top">
               <table  border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                     <tr>
                        <td  width="1%"><input id="r1" onclick="f1()" type="radio" name="q" value="A {{list.id}}" ></td>
                        &nbsp;<td   width="1%">&nbsp;&nbsp;&nbsp;A. </td>&nbsp;
                        <td width="99%" ">
                           <table border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                 <tr>
                                    <td>{{list.a}}</td>
                                    
                                 </tr>
                              </tbody>
                           </table>
                        </td>
                     </tr>
                     <tr>
                        <td  width="1%"><input id="r1" onclick="f1()" type="radio" name="q" value= "B {{list.id}}"></td>
                        <td   width="1%">&nbsp;&nbsp;&nbsp;B.&nbsp;</td>
                        <td>
                           <table border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                 <tr>
                                    <td>{{list.b}}</td>
                                  
                                 </tr>
                              </tbody>
                           </table>
                        </td>
                     </tr>
                     <tr>
                        <td nowrap="nowrap"  width="1%" id="tdOptionNo_C_174"><input id="r1" onclick="f1()" type="radio" name="q" value="C {{list.id}}"></td>
                        <td   width="1%">&nbsp;&nbsp;&nbsp;C</td>
                        <td >
                           <table border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                 <tr>
                                    <td class="bix-inner-td-option">{{list.c}}</td>
                                   
                                 </tr>
                              </tbody>
                           </table>
                        </td>
                     </tr>
                     <tr>
                        <td nowrap="nowrap" width="1%" id="tdOptionNo_D_174"><input id="r1" onclick="f1()" type="radio" name="q" value="D {{list.id}}"></td>
                        <td   width="1%">&nbsp;&nbsp;&nbsp;D.</td>
                        <td   width="99%" >
                           <table border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                 <tr>
                                    <td class="bix-inner-td-option">{{list.d}}</td>
                                   
                                 </tr>
                              </tbody>
                           </table>
                        </td>
                     </tr>
                   
                  </tbody>
               </table>
               
            </td>
         </tr>
      </tbody>
   </table>
   <br> <br>
   <button id="startClock" name="ans" type="submit" value="{{list.ans}}" disabled style="color: green;"> Submit</button>
  
</form>

   {% endfor %}
   {% endif %}
  <br> <br>
  <pre>
        <h4>Quick Links</h4>
        <ul><li><a href="{% url 'ccat_notify' %}">CCAT Preparation</a></li>
        <li><a href="{% url 'ccat_questions' %}">CCAT Questions</a></li>
        <li><a href="{% url 'C-CPP-Objective-Questions' %}" >CCAT Section B Question</a></li>
        <li><a href="{% url 'ccat_notify' %}">CCAT 2019 Syllabus</a></li>
        <li><a href="{% url 'English-Tutorial' %}">CCAT English Preparation</a></li>
        <li><a href="{% url 'Aptitude-Tutorial' %}">CCAT Aptitude Preparation</a></li>
        <li><a href="{% url 'intro' %}">CCAT C Language Preparation</a></li>
        <li><a href="{% url 'cpp' %}">CCAT C++ Language Preparation</a></li>
        <li><a href="{% url 'Data-Structure-Tutorial' %}">CCAT Data Structure Preparation</a></li>

        <li><a href="{% url 'OS-Tutorial' %}">CCAT Operating System Preparation</a></li>
        
     </ul>
  </pre>
  <h4> <strong>Prepare For CCAT Exam :</strong></h4>  
  <p style="font-size: 16;">
    Here you will get The best pre dac 45 days free course .

  </p>
  <p style="font-size: 16;">
       CDAC C-CAT 2019 – Centre for Development of Advanced Computing (C-DAC) has started registration  <br> C-DAC’s Common Admission Test (C-CAT) 2019,      
       for admission in February 2020 batch. 
  </p>
  <p style="font-size: 16;">
       The exam will be held December 8 and 15 and the last date to apply is November 27, 2019. <br> CDAC C-CAT is
       a computer based exam, which is conducted for admission of candidates PG Diploma in 13 courses.
  </p>
  <p style="font-size: 16;">
      
       The exam is conducted twice a year, in December 
       for February batch admission and in June for August batch admission.  <br> The candidates who qualify the exam are called for the counselling round. 
       Check CDAC C-CAT 2019 exam date, course, <br> registration details, and more information from this page.
 
 </p> <br> <br>
</div>

  </div>
</div>

</section>
<!-- Work -->
<script>
   var time = 60;
   function countdown()
   {
     if(time==0)
     {
       window.alert("Time Over ");
     }
     else
     {
       tmptime = time;
       dayTime = 24*60*60;
       hourTime = 60*60;
       minutesTime = 60;
   
       days = Math.floor(tmptime/dayTime);
       tmptime = tmptime - days*dayTime;
   
       hours = Math.floor(tmptime/hourTime);
       tmptime = tmptime - hours*hourTime;
   
       minutes = Math.floor(tmptime/minutesTime);
       tmptime = tmptime - minutes*minutesTime;
   
       seconds = tmptime;
       tidtext="";
       if(days>0)
         tidtext = days+ hours + " hours " + minutes + " minutes " + seconds + " seconds";
       else if(hours>0)
         tidtext = hours + " hours " + minutes + " minutes " + seconds + " seconds";
       else
         tidtext =  minutes + " minutes " + seconds + " seconds";
   
       document.getElementById('timer').innerHTML = tidtext;
       time--;
       setTimeout("countdown()", 1000);
     }
   }
</script>
<script>
  function f1()
  {
   document.getElementById("startClock").disabled = false;
   
  }
</script>
{% endblock %}