
{% load static %}
<html lang="en">

<head>
    <link rel="icon" href= "{% static '/img/ccat9.png' %}" type="image/gif" >
 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/all.css' %}">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <!-- Custom -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!--Lightbox-->
  <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
  <meta name="keywords" content="CDAC C-CAT Application Form 2019; CDAC C-CAT Application Form December 2019; CDAC C-CAT Registration">
  <meta name="description" content="CDAC C-CAT Application Form 2019-  The Centre for Development of Advanced Computing had released CDAC C-CAT 2019 registration for February batch on October 30, 2019.">
  <meta property="og:type" content="articles" />
  <meta property="og:title" content="CDAC C-CAT Application Form 2019, Registration (Over) - Apply here" />
  <meta property="og:description" content="CDAC C-CAT Application Form 2019-  The Centre for Development of Advanced Computing had released CDAC C-CAT 2019 registration for February batch on October 30, 2019." />
  

  <title>{% block title %}{% endblock %}</title>
  <body>
     
       
          <!-- Top Bar -->

          {% include 'partials/_topbar.html' %}
           <!-- Nav Bar -->

          {% include 'partials/_navbar.html' %}

  <!-- Footer -->
  {% block content %}{% endblock %}
  {% include 'partials/_footbar.html' %}
  
        
   <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.bundle.min.js' %)"></script>
   <script src="{% static 'js/main.js' %} "></script>
   <script src="{% static 'js/lightbox.min.js' %} "></script>
  </body>
</head>

