
{% load static %}
<html lang="en">

<head>
    <link rel="icon" href= "{% static '/img/ccat9.png' %}" type="image/gif" >
 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/all.css' %}">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <!-- Custom -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!--Lightbox-->
  <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">

  <meta name="keywords" content="CDAC C-CAT 2019, CDAC C-CAT, CDAC C-CAT application form, CDAC C-CAT admit card, CDAC C-CAT result">
  <meta name="description" content="CDAC C-CAT 2019 -The Centre for Development of Advanced Computing (CDAC) conducts the computerized Common Admission Test (C-CAT) twice a year.  CDAC has declared CDAC C-CAT result on December 27.">
  <meta property="og:type" content="articles" />
  <meta property="og:title" content="CDAC C-CAT 2019 - Result (Announced),Cutoff, Counselling, Seat Allotment" />
  <meta property="og:description" content="CDAC C-CAT 2019 -The Centre for Development of Advanced Computing (CDAC) conducts the computerized Common Admission Test (C-CAT) twice a year.  CDAC has declared CDAC C-CAT result on December 27." />
  <meta name="twitter:title" content="CDAC C-CAT 2019 - Result (Announced),Cutoff, Counselling, Seat Allotment" />
<meta name="twitter:description" content="CDAC C-CAT 2019 -The Centre for Development of Advanced Computing (CDAC) conducts the computerized Common Admission Test (C-CAT) twice a year.  CDAC has declared CDAC C-CAT result on December 27." />


  <title>{% block title %}{% endblock %}</title>
  <body>
     
       
          <!-- Top Bar -->

          {% include 'partials/_topbar.html' %}
           <!-- Nav Bar -->

          {% include 'partials/_navbar.html' %}

  <!-- Footer -->
  {% block content %}{% endblock %}
  {% include 'partials/_footbar.html' %}
  
        
   <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.bundle.min.js' %)"></script>
   <script src="{% static 'js/main.js' %} "></script>
   <script src="{% static 'js/lightbox.min.js' %} "></script>
  </body>
</head>

