{% load static %}
{% load static %}

          <table style="max-width:1000px;min-width:1000px;width:1000px" width="1000" cellpadding="0" cellspacing="0" border="0">
              <tbody>


                  <tr>

                      <td width="1000">
                          <table style="background-color:#3be2ab;color:#fff;font-size:22px;font-weight:bold" width="1000" height="80" bgcolor="#3BE2AB" cellpadding="0" cellspacing="0" border="0">
                              <tbody>
                                  <tr><td colspan="5" height="15"></td></tr>
                                  <tr>
                                      <td width="40"></td>
                                      <td width="130" valign="middle">

                                      </td>
                                      <td width="30"></td>
                                      <td width="750">
                                          <b><span style="font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;font-weight:bold">!!The fastest and easiest way to Crack CCAT Exam !!</span></b>
                                      </td>
                                      <td width="50"></td>
                                  </tr>
                                  <tr><td colspan="5" height="15"></td></tr>
                              </tbody>
                          </table>
                      </td>
                  </tr>


                  <tr>
                      <td width="1000">
                          <table style="background-color:#fff;color:#444;font-size:25px" width="1000" bgcolor="#fff" cellpadding="0" cellspacing="0" border="0">
                              <tbody>
                                  <tr><td style="border-left:1px solid #aaa;border-right:1px solid #aaa" colspan="3" height="100"></td></tr>
                                  <tr>
                                      <td style="border-left:1px solid #aaa" width="50"></td>
                                      <td width="950" valign="top">
                                          <table width="940" height="352" bgcolor="#fff" cellpadding="0" cellspacing="0" border="0">
                                              <tbody>

                                                  <tr>
                                                      <td style="line-height:1.4;font-size:26px" align="center">
                                                          <span lang="share_email_logo">Congrats Dear , <br>
                                                            You Are Now Subscribed For Daily Updates ..</span>
                                                          <span class="m_-3814802939572611313client-name">You Will Get Daily Questions Answer For C,CPP,DS,OS,Apti,Reasoning. <br><br>If In Case If you didnt get email Of ccat demo Notes Please Reply me Back .</span>
                                                        </span>
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <td align="center">
                                                          <a class="m_-3814802939572611313download-url" style="font-size:30px;background-color:#3be2ab;padding:10px 20px;text-decoration:none;color:#fff;font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;font-weight:bold" href="http://www.ccatcracker.in" target="_blank" >See the Website</a>
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <td height="50"></td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </td>
                                      <td style="border-right:1px solid #aaa" width="50"></td>

                                  </tr>
                              </tbody>
                          </table>
                      </td>
                  </tr>


                  <tr>

                      <td width="1000">
                          <table style="background-color:#212121;color:#ddd;font-size:15px" width="1000" height="80" bgcolor="#212121" cellpadding="0" cellspacing="0" border="0">
                              <tbody>
                                  <tr><td style="border-left:1px solid #212121;border-right:1px solid #212121" height="40"></td></tr>
                                  <tr>
                                      <td style="text-align:center;border-left:1px solid #212121;border-right:1px solid #212121;font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif">
                                          <span>Do not reply</span>
                                          <br>
                                          <span>©2019 ccatcracker |</span>
                                          <br>
                                        <a style="color:#ddd" href="http://www.ccatcracker.in">View Our Website</a>
                                      </td>
                                  </tr>
                                  <tr><td height="20">
                                  </td></tr><tr>
                                    </tr>
                                    <tr><td style="border-left:1px solid #212121;border-right:1px solid #212121" height="30"></td></tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
  
-- INSERT --                                                          