{% extends 'base_6.html' %}
{% block title %}Dil Jaaniye Chords | Guitar tabs dil janiye {% endblock %}
<!-- Main -->
{% block content %}
<style>

	h2{
	font: inherit;
	vertical-align: baseline;
	font-weight: 900;
	line-height: 1.9;
	font-family:  sans-serif;
	margin: 0 0 1em 0;
	}
	form.example input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
	}
	form.example button {
	float: left;
	width: 20%;
	padding: 10px;
	background: blue;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
	height: 45.5px;
	}
	form.example button:hover {
	background: darkslategray;
	}
	form.example::after {
	content: "";
	clear: both;
	display: table;
	}
	#content-wrap {
	padding-top: 50px;
	padding-bottom: 50px;
	}
</style>
<meta name="description" content=" Dil Jaaniye Chords | Tulsi Kumar ,  Jubin Nautiyal – Dil Jaaniye Chords guitar tabs dil janiye ">
<meta name="keywords" content="Jubin Nautiyal songs 2019 , Jubin Nautiyal 2019 guitar chords,Jubin Nautiyal guitar tabs,dil janiye guitar tabs 2019">
<section style="background-color: black;">
	<div id="content-wrap">
	<section id="about" class="py-4" >
		<div class="container">
			<div class="row">
				<div class="col-md-8" >
					<h2 style="color: white;">Search your Faviourite Songs</h2>
					<form class="example" method="post" action="{% url 'chord_list' %}">
						{% csrf_token %}
						<input type="text" name="query" id="searchsong" value="" placeholder="Song Name" />
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
					<p id="search-results">
					</p>
					<br> <br>
					<h4 style="color:white;">    Jubin Nautiyal – Dil Jaaniye Chords | Tulsi Kumar, Payal Dev  </h4>
					<br>
					<p style="color: #f1f1f1; font-size:17px;">
                           <br>
                        Scale: A# <br>
                        Chords: Bb, Eb, F, Gm, <br>
                        Suggested Strumming: D DUDD DD <br>
                         <br>
                        [Bb]Sacchiyan mohabbatan ni[Gm]bhawanga <br>
                        [F]Ranjheyaa main tera keh[Eb]lawanga <br>
                        [Bb]Ik vaari dil lag [Gm]jaane de <br>
                        [F]Dil da qaraar ban [Bb]jaawanga <br>
                         <br>
                         <br>
                        [Bb]Sacchiyan mohabbatan ni[Gm]bhawangi <br>
                        [F]Heeriye main teri keh[Bb]lawangi <br>
                        Ik vaari dil lag [Gm]jaane de <br>
                        [F]Dil da qaraar ban [Bb]jawangi <br>
                         <br>
                        Ilte[Cm]ja dil di [F]hai <br>
                        Ik pe[Cm]hal ishq [F]ki, hone [Eb]de.. <br>
                         <br>
                         <br>
                         <br>
                        Dil [Bb]jaaniye mainu [Gm]jee lain de <br>
                        Do [Eb]lafz-e-mohabbat [F]keh lain de <br>
                        Dil [Bb]Jaaniye mainu [Gm]jee lain de <br>
                        Do [Eb]lafz-e-mohabbat [F]keh lain de <br>
                         <br>
                        [Bb]Din raat tujhe main [Gm]dekha karun <br>
                        Aan[F]khon ki yehi bas [Eb]chaahat hai <br>
                         <br>
                        [Bb]Din raat tujhe main [Gm]dekha karun <br>
                        Aan[F]khon ki yehi bas [Eb]chaahat hai [ <br>
                        Main [Bb]qaid hoon teri la[Eb]qeeron mein <br>
                        Tere [F]saath hi meri [Bb]qismat hai <br>
                         <br>
                        Jeet [F]ki [C]haar [F]ki <br>
                        Ik pehal pyaar ki, hone [Eb]de.. <br>
                         <br>
                        Dil [Bb]Janiye mainu [Gm]jee lain de <br>
                        Do [Eb]lafz-e-mohabbat [F]keh lain de <br>
                        Dil [Bb]Jaaniye mainu [Gm]jee lain de <br>
                        Do [Eb]lafz-e-mohabbat [F]keh lain [Bb]de <br>
                         <br>
                        Mera Rab tujhme hi [Gm]vassda ae <br>
                        Dil [F]karta teri i[Eb]baadat hai <br>
                         <br>
                        [Bb]Mera Rab tujhme hi [Gm]vassda ae <br>
                        Dil [F]karta teri i[Eb]baadat hai <br>
                        Naz[Bb]deeq hai lekin [Eb]keh na sake <br>
                        Mujh[F]ko teri hi [Bb]aadat hai <br>
                         <br>
                        Bewa[Eb]jah jeene [F]ki <br>
                        Haule haule se dil, khone [Eb]de.. <br>
                         <br>
                        Dil [Bb]Jaaniye mainu [Gm]jee lain de <br>
                        Do [Eb]lafz-e-mohabbat [F]keh lain de <br>
                        Dil [Bb]Jaaniye mainu [Gm]jee lain de <br>
                        Do [Eb]lafz-e-mohabbat [F]keh lain de <br>
  <br>

					</p> <br>
					<br> 
					<h2 style="color: white;">You may also like this :</h2>
					<br>
					<section id="listings" class="py-4">
						<br>
						<div class="container">
							<br>
							<div class="row">
								<br>
								{% if lists %} <br>
								{% for list in lists %} <br>
								<!-- Listing 1 --> <br>
								<div class="col-md-6 col-lg-4 mb-4">
									<br>
									<div class="card listing-preview">
										<br>
										<div class="card-body">
											<div class="listing-heading text-center">
												<h4>Sargam	 and Notation</h4>
												<a href="{{list.url}}">{{list.song_names}}</a>
											</div>
											<hr>
										</div>
									</div>
								</div>
								{% endfor %}
								{% else %}
								<div class="col-md-12">
									<p>No Listings Available</p>
								</div>
								{% endif %}
					</section>
	</section>
	</div>
	</div>
	</div>
	</div>
</section>
</div>
{% endblock %}