{% extends 'base_6.html' %}
{% block title %}  How Do You Sleep chords by Sam Smith Guitar Chords    {% endblock %}
<!-- Main -->
{% block content %}
<style>

	h2{
	font: inherit;
	vertical-align: baseline;
	font-weight: 900;
	line-height: 1.9;
	font-family:  sans-serif;
	margin: 0 0 1em 0;
	}
	form.example input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
	}
	form.example button {
	float: left;
	width: 20%;
	padding: 10px;
	background: blue;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
	height: 45.5px;
	}
	form.example button:hover {
	background: darkslategray;
	}
	form.example::after {
	content: "";
	clear: both;
	display: table;
	}
	#content-wrap {
	padding-top: 50px;
	padding-bottom: 50px;
	}
</style>

<meta name="description" content="Includes 2 chord charts, a complete version and a simplified version. Based on the studio recording.">
<meta name="keywords" content="Sam Smith - How Do You Sleep (Chords), Chords, Sam Smith,">
<section style="background-color: black;">
	<div id="content-wrap">
	<section id="about" class="py-4" >
		<div class="container">
			<div class="row">
				<div class="col-md-8" >
					<h2 style="color: white;">Search your Faviourite Songs</h2>
					<form class="example" method="post" action="{% url 'chord_list' %}">
						{% csrf_token %}
						<input type="text" name="query" id="searchsong" value="" placeholder="Song Name" />
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
					<p id="search-results">
					</p>
					<br> <br>
					<h4 style="color:white;">  How Do You Sleep chords by Sam Smith     </h4>
					<br>
					<p style="color: #f1f1f1; font-size:17px;">
                           <br>
                                                   <br>                       
                           [Intro]  <br>
                           |Em  |G   |Bm  |A   | <br>
                             <br>
                             <br>
                           [Verse 1] <br>
                           Em                             G <br>
                             I'm done hating myself for feeling <br>
                           Bm                         A <br>
                             I'm done crying myself awake <br>
                           Em                                G <br>
                             I've gotta leave and start the healing <br>
                                        Bm                               A <br>
                           But when you move like that, I just want to stay <br>
                             <br>
                             <br>
                           [Pre-Chorus] <br>
                                       Em <br>
                           But what have I become? <br>
                               G <br>
                           I'm looking through your phone now, oh now <br>
                           Bm                        A <br>
                              Love to you is just a game <br>
                                   Em <br>
                           Look what I have done <br>
                               G <br>
                           I'm dialing up the numbers on you <br>
                           Bm                             A <br>
                              I don't want my heart to break <br>
                             <br>
                             <br>
                           [Chorus] <br>
                           N.C.  Em <br>
                           Baby, how do you sleep when you lie to me? <br>
                           G <br>
                           All that shame and all that danger <br>
                           Bm                                       A <br>
                             I'm hoping that my love will keep you up tonight <br>
                                 Em <br>
                           Baby, how do you sleep when you lie to me? <br>
                           G <br>
                           All that fear and all that pressure <br>
                           Bm                                       A <br>
                             I'm hoping that my love will keep you up tonight <br>
                             <br>
                             <br>
                           [Post-Chorus] <br>
                           N.C.               Em   G   Bm <br>
                           Tell me how do you <br>
                                               A <br>
                           Love will keep you up tonight <br>
                             <br>
                           Tell me how do you <br>
                             <br>
                             <br>
                           [Verse 2] <br>
                           Em                           G <br>
                             Oh no, how did I manage to lose me? <br>
                              Bm                               A <br>
                           I am not this desperate, not this crazy <br>
                           Em                                     G      A <br>
                             There's no way I'm stickin' 'round to find out <br>
                                   Bm                      D      A <br>
                           I won't lose like that, I won't lose myself <br>
                             <br>
                             <br>
                           [Pre-Chorus] <br>
                                   Em <br>
                           Look what I have done <br>
                               G <br>
                           I'm dialing up the numbers on you <br>
                           Bm                             A <br>
                              I don't want my heart to break <br>
                             <br>
                             <br>
                           [Chorus] <br>
                           N.C.  Em <br>
                           Baby, how do you sleep when you lie to me? <br>
                           G <br>
                           All that shame and all that danger <br>
                           Bm                                       A <br>
                             I'm hoping that my love will keep you up tonight <br>
                                 Em <br>
                           Baby, how do you sleep when you lie to me? <br>
                           G <br>
                           All that fear and all that pressure <br>
                           Bm                                       A <br>
                             I'm hoping that my love will keep you up tonight <br>
                             <br>
                             <br>
                           [Post-Chorus] <br>
                           N.C.               Em   G   Bm <br>
                           Tell me how do you <br>
                                               A <br>
                           Love will keep you up tonight <br>
                                              Em   G   Bm <br>
                           Tell me how do you <br>
                                               A <br>
                           Love will keep you up tonight <br>
                             <br>
                             <br>
                           [Chorus] <br>
                           N.C.  Em <br>
                           Baby, how do you sleep when you lie to me? <br>
                           G <br>
                           All that shame and all that danger <br>
                           Bm                                       A <br>
                             I'm hoping that my love will keep you up tonight <br>
                                 Em <br>
                           Baby, how do you sleep when you lie to me? <br>
                           G <br>
                           All that fear and all that pressure <br>
                           Bm                                       A <br>
                             I'm hoping that my love will keep you up tonight (Tell me how d <br>o you)
  <br> <br>
 <br>
					</p> <br> <br>
					<br> 
					<h2 style="color: white;">You may also like this :</h2>
					<br>
					<section id="listings" class="py-4">
						<br>
						<div class="container">
							<br>
							<div class="row">
								<br>
								{% if lists %} <br>
								{% for list in lists %} <br>
								<!-- Listing 1 --> <br>
								<div class="col-md-6 col-lg-4 mb-4">
									<br>
									<div class="card listing-preview">
										<br>
										<div class="card-body">
											<div class="listing-heading text-center">
												<h4>Sargam	 and Notation</h4>
												<a href="{{list.url}}">{{list.song_names}}</a>
											</div>
											<hr>
										</div>
									</div>
								</div>
								{% endfor %}
								{% else %}
								<div class="col-md-12">
									<p>No Listings Available</p>
								</div>
								{% endif %}
					</section>
	</section>
	</div>
	</div>
	</div>
	</div>
</section>
</div>
{% endblock %}