{% extends 'base_6.html' %}
{% block title %}There's Nothing Holdin' Me Back - Shawn Mendes  | Guitar Chords {% endblock %}
<!-- Main -->
{% block content %}
<style>

	h2{
	font: inherit;
	vertical-align: baseline;
	font-weight: 900;
	line-height: 1.9;
	font-family:  sans-serif;
	margin: 0 0 1em 0;
	}
	form.example input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
	}
	form.example button {
	float: left;
	width: 20%;
	padding: 10px;
	background: blue;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
	height: 45.5px;
	}
	form.example button:hover {
	background: darkslategray;
	}
	form.example::after {
	content: "";
	clear: both;
	display: table;
	}
	#content-wrap {
	padding-top: 50px;
	padding-bottom: 50px;
	}
</style>
<meta name="description" content="Newly revised. Includes strumming patterns and improved chord placement.">
<meta name="keywords" content="Shawn Mendes - Theres Nothing Holdin Me Back (Chords), Chords, Shawn Mendes,">

<section style="background-color: black;">
	<div id="content-wrap">
	<section id="about" class="py-4" >
		<div class="container">
			<div class="row">
				<div class="col-md-8" >
					<h2 style="color: white;">Search your Faviourite Songs</h2>
					<form class="example" method="post" action="{% url 'chord_list' %}">
						{% csrf_token %}
						<input type="text" name="query" id="searchsong" value="" placeholder="Song Name" />
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
					<p id="search-results">
					</p>
					<br> <br>
					<h4 style="color:white;">There's Nothing Holdin' Me Back - Shawn Mendes  </h4>
					<br>
					<p style="color: #f1f1f1;">
                      
                                                          <br>
                        Speed  - 123 BPM  <br>
 <br>
                        Strumming = D UU D UU <br> <br>
                        Chords : G    D       A         Bm            <br> <br>
                        e|3----5-------5----0----2--| <br>
                        B|3----7-------5----2----3--| <br>
                        G|4----7-------6-or-2----4--| <br>
                        D|5----7-------7----2----4--| <br>
                        A|5----5-------7----0----2--| <br>
                        E|3----5-------5---------2--| <br>
 <br>
                        [Intro] <br>
                         <br>
                        G              D             A <br>
                        e|-----------------------------------------------------------| <br>
                        B|5h7-5--5h7--5--7h8--7-7h8-7--5h7-5--5h7--5--5h7-5--5h7--5--| <br>
                        G|-------------------------9---------------------------------| <br>
                        D|-----------------------------------------------------------| <br>
                        A|-----------------------------------------------------------| <br>
                        E|-----------------------------------------------------------| <br>
 <br>
 <br>
                        [Verse 1] <br>
                        G                      D Bm <br>
                        I wanna follow where she goes <br>
                        D A                      D A         D <br>
                        I think about her and she knows it <br>
                        G                      D Bm <br>
                        I wanna let it take control <br>
                        D A                      D A         D <br>
                        'Cause everytime that she gets closer <br>
 <br>
 <br>
                        [Pre-Chorus] <br>
                            G           D Bm              D A     D A     D <br>
                        She pulls me in enough to keep me guessing <br>
                            G       D Bm                     D A <br>
                        And maybe I should stop and start confessing <br>
                        D A <br>
                        Confessing <br>
                         <br>
                         <br>
                        [Chorus] <br>
                        G                      D Bm <br>
                        Oh, I've been shaking <br>
                                                D A <br>
                        I love you when you go crazy <br>
                                                D A <br>
                        You take all my inhibitions <br>
                                                        D <br>
                        Baby, there's nothing holding me back <br>
                        G                         D Bm <br>
                        You take me places that tear up my reputation <br>
                            D A <br>
                        Manipulate my decisions <br>
                        D A <br>
                        Baby, there's nothing holding me back <br>
                         <br>
                        G   D Bm   D A   D A     D <br>
                            There's nothing holding me back <br>
                         <br>
                        G   D Bm   D A   D A     D <br>
                            There's nothing holding me back <br>
                         <br>
 <br>
                        [Verse 2] <br>
                        N.C.                       D Bm        D A <br>
                        She says that she is never afraid <br>
                                        D A        D <br>
                        Just picture everybody naked <br>
                        G                         D Bm        D A <br>
                        She really doesn't like to wait <br>
                                        D A        D <br>
                        Not really into hesitation <br>
                         <br>
                         <br>
                        [Pre-Chorus] <br>
                            G           D Bm               D A     D A    D <br>
                        She pulls me in enough to keep me guessing <br>
                            G       D Bm                    D A <br>
                        And maybe I should stop and start confessing <br>
                            D A <br>
                        Confessing <br>
                         <br>
                         <br>
                        [Chorus] <br>
                        G                      D Bm <br>
                        Oh, I've been shaking <br>
                                                D A <br>
                        I love you when you go crazy <br>
                                                D A <br>
                        You take all my inhibitions <br>
                                                        D <br>
                        Baby, there's nothing holding me back <br>
                        G                         D Bm <br>
                        You take me places that tear up my reputation <br>
                        D A <br>
                        Manipulate my decisions <br>
                        D A <br>
                        Baby, there's nothing holding me back <br>
                         <br>
                        G   D Bm   D A   D A     D <br>
                            There's nothing holding me back <br>
                         <br>
                        G   D Bm   D A  D A     D <br>
                            There's nothing holding me back <br>
                         <br>
 <br>
                        [Bridge] <br>
                                    G                     D Bm <br>
                        'Cause if we lost our minds and we took it way too far <br>
                            D A                     D A                  D <br>
                        I know we'd be alright, I know we would be alright <br>
                                        G                 D Bm <br>
                        'Cause if you are by my side and we stumbled in the dark <br>
                            D A                     D A              D <br>
                        I know we'd be alright, I know we'd be alright <br>
                                    G                     D Bm <br>
                        'Cause if we lost our minds and we took it way too far <br>
                            D A                     D A              D <br>
                        I know we'd be alright, I know we'd be alright <br>
                                        G                 D Bm <br>
                        'Cause if you are by my side and we stumbled in the dark <br>
                            D A                     D A <br>
                        I know we'd be alright, I know we'd be alright <br>
                         <br>
  <br>
					</p> <br>
					<br> 
					<h2 style="color: white;">You may also like this :</h2>
					<br>
					<section id="listings" class="py-4">
						<br>
						<div class="container">
							<br>
							<div class="row">
								<br>
								{% if lists %} <br>
								{% for list in lists %} <br>
								<!-- Listing 1 --> <br>
								<div class="col-md-6 col-lg-4 mb-4">
									<br>
									<div class="card listing-preview">
										<br>
										<div class="card-body">
											<div class="listing-heading text-center">
												<h4>Sargam	 and Notation</h4>
												<a href="{{list.url}}">{{list.song_names}}</a>
											</div>
											<hr>
										</div>
									</div>
								</div>
								{% endfor %}
								{% else %}
								<div class="col-md-12">
									<p>No Listings Available</p>
								</div>
								{% endif %}
					</section>
	</section>
	</div>
	</div>
	</div>
	</div>
</section>
</div>
{% endblock %}