{% extends 'base_6.html' %}
{% block title %}  Yaad piya ki (Neha kakkar) Guitar chords  {% endblock %}
<!-- Main -->
{% block content %}
<style>

	h2{
	font: inherit;
	vertical-align: baseline;
	font-weight: 900;
	line-height: 1.9;
	font-family:  sans-serif;
	margin: 0 0 1em 0;
	}
	form.example input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
	}
	form.example button {
	float: left;
	width: 20%;
	padding: 10px;
	background: blue;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
	height: 45.5px;
	}
	form.example button:hover {
	background: darkslategray;
	}
	form.example::after {
	content: "";
	clear: both;
	display: table;
	}
	#content-wrap {
	padding-top: 50px;
	padding-bottom: 50px;
	}
</style>

<meta content='Yaad piya ki (Neha kakkar) Guitar chords' property='og:title'/>
<meta content='Rabindra sangeet guitar chords,nazrul geeti guitar chords,guitar for beginners,bangla old songs guitar chords,hindi songs chords,how to play guitar,' property='og:description'/>

<section style="background-color: black;">
	<div id="content-wrap">
	<section id="about" class="py-4" >
		<div class="container">
			<div class="row">
				<div class="col-md-8" >
					<h2 style="color: white;">Search your Faviourite Songs</h2>
					<form class="example" method="post" action="{% url 'chord_list' %}">
						{% csrf_token %}
						<input type="text" name="query" id="searchsong" value="" placeholder="Song Name" />
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
					<p id="search-results">
					</p>
					<br> <br>
					<h4 style="color:white;"> Yaad piya ki (Neha kakkar) Guitar chords    </h4>
					<br>
					<p style="color: #f1f1f1; font-size:17px;"> 
                        
                        Use capo in the first fret                <br>
                            Scale : E <br>
                            Chords : Em,D,C <br>
                            Beat count : 4/4 <br>
                            Rhythm : D-UD--U <br>
 <br>
 <br>
                            Em <br>
                            Aasmaan mein jaise baadal <br>
 <br>
                            D            Em <br>
                            ho rahe hain <br>
 <br>
                                    Em <br>
                            Hum dheere dheere dheere paagal <br>
 <br>
                            D          Em <br>
                            ho rahe hain <br>
 <br>
                            Em <br>
                            Main to mar jaana haaye <br>
 <br>
                            D <br>
                            woh na jo milne aaye <br>
 <br>
 <br>
                            D <br>
                            Sansein meri hain inke <br>
 <br>
                            hathon mein <br>
 <br>
                                    D       <br>
                            Yaad piya ki mere piya ki aane lagi <br>
 <br>
 <br>
                                                                E <br>m
                            Haye bheegi bheegi raton mein <br>
 <br>
                                            D <br>
                            Ho yaad piya ki aane lagi <br>
 <br>
                                                                E <br>m
                            Haaye bheegi bheegi raaton mein <br>
 <br>
 <br>
                            Em.                 C <br>
                            Tere bina kya haal hai apna <br>
 <br>
                            D.                    Em <br>
                            Kya tumko batlayein re <br>
 <br>
                            Em.                       C <br>
                            Choodiyan meri royein meri <br>
 <br>
                            D                 Em <br>
                            Chunri royi jaaye re <br>
 <br>
                            Em <br>
                            Bin tere sab saza hain <br>
 <br>
                            D <br>
                            Bin tere kahan maza hai <br>
 <br>
                            Em <br>
                            Bin tere sab saza hain <br>
 <br>
                            D <br>
                            Bin tere kahan maza hai <br>
 <br>
                            D <br>
                            Bin tere kahan maza hai <br>
 <br>
 <br>
                            chahaton mein <br>
 <br>
                                    D <br>
                            Yaad piya ki, mere piya ki <br>
 <br>
                                    D         <br>
                            Haaye piya ki aane lagi <br>
 <br>
 <br>
                            Haaye bheegi bheegi <br>
 <br>
                            Em <br>
                            raaton mein <br>
 <br>
                            Em.                 C <br>
                            Kab woh din aayega <br>
 <br>
                                D <br>
                            Jab hum bhi mehndi <br>
 <br>
                                Em <br>
                            lagwayenge <br>
 <br>
                            Em.                 C <br>
                            Na jaane kab aayenge <br>
 <br>
                                D                  Em <br>
                            Aur doli mein le jayenge <br>
 <br>
                            Em <br>
                            Baari na aaye humari <br>
 <br>
                            D <br>
                            Baraatein dekhin saari <br>
 <br>
                            Em <br>
                            Baari na aaye humari <br>
 <br>
                            D <br>
                            Baraatein dekhin saari <br>
 <br>
                            D <br>
                            Nache hum sabki baraaton mein <br>
 <br>
 <br>
					</p> <br>  <br>
					<br>  <br>
					<h2 style="color: white;">You may also like this :</h2>
					<br>
					<section id="listings" class="py-4">
						<br>
						<div class="container">
							<br>
							<div class="row">
								<br>
								{% if lists %} <br>
								{% for list in lists %} <br>
								<!-- Listing 1 --> <br>
								<div class="col-md-6 col-lg-4 mb-4">
									<br>
									<div class="card listing-preview">
										<br>
										<div class="card-body">
											<div class="listing-heading text-center">
												<h4>Sargam	 and Notation</h4>
												<a href="{{list.url}}">{{list.song_names}}</a>
											</div>
											<hr>
										</div>
									</div>
								</div>
								{% endfor %}
								{% else %}
								<div class="col-md-12">
									<p>No Listings Available</p>
								</div>
								{% endif %}
					</section>
	</section>
	</div>
	</div>
	</div>
	</div>
</section>
</div>
{% endblock %}