{% extends 'base_1.html' %}
{% block title %} Control Statements in C - If Block | C Language Tutorial {% endblock %}

{% block content %}
<style>
        p {
          display: block;
          margin-top: 1em;
          margin-bottom: 1em;
          margin-left: 0;
          margin-right: 0;
          font-style: italic;
          font-size: 17px;
          
        }
        pre{
            background-color: #e0e0e0;
            border-radius: 10px;
            color: rgba(0,0,0,.9);
            font-family: Consolas,monospace;
            margin-bottom: 10px;
            overflow: auto;
            padding: 10px;
            margin: 0px 0px 10px;
            text-align: left;
            

        }
        </style>
    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'modify_operator' %}">
                  Home</a>
              </li>
              <li class="breadcrumb-item active"> C Language</li>
            </ol>
          </nav>
        </div>
      </section>
     
    </div>
    <section id="about" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
                 
             
               
                <h3 style="color:black">C if statement:</h3> 
                <p >
                        The if statement allows you to control the execution of code based on a  particular condition. The syntax of the if statement is as follows:

                      <br> <br>
                        if(expression){ <br>
                        /* unit of code to be executed */ <br>
                        }
                      
                </p>
              
                <h3 style="color: black">Copy Below Links And Watch Lectures First :</h3> <br>
                 
                <h4 style="color:darkcyan">1. If In  C Part-1: https://youtu.be/ou2ZYkol4NI</h4>
                <h4 style="color:darkcyan">2. If-else In  C Part-2: https://youtu.be/rbVzQk6wu90</h4>
                <h4 style="color:darkcyan">3. Loop In  C Part-3: https://youtu.be/_2weEBxDTo8</h4>
                <h4 style="color:darkcyan">4. While Loop In  C Part-4: https://youtu.be/dUvjIbwr6ZA</h4>
                <h4 style="color:darkcyan">5. For Loop In  C Part-5:  https://youtu.be/_NZZ9Y-j_mw</h4>
               

                <h3 style="color:black">If  Examples:</h3> 
                <p>
                      Example : <br>
                      1. #include <\stdio.h> <br>
                      2. #include <\stdlib.h> <br>
                        int main() <br>
                        {<br>
                            int x; <br>
                            printf("Please enter a number:");<br>
                            scanf ("%d",&x);<br>
                            if(x > 0){ <br>
                            printf("\nThe number %d is greater than 0",x);<br>
                            } <br>
                            return 0;<br>
                        } <br> <br>
                        The program asked users to enter a number. If the number is greater than zero, it displays a message showing that otherwise, it does nothing.
                
                
                </p>

               <h3 style="color:black">C if else statement :</h3> 
               <p>
                   
                    Sometimes you want to execute a piece of code in case of the expression in the if statement evaluates to false. You can use the second form of the if statement which is known as if else statement. The following illustrates the syntax of the if else statement:
                    <br> <br>
                    if(expression){ <br>
                      /* code block of if statement */ <br>
                    } <br>
                    else{ <br>
                      /* code block of else statement */ <br>
                    } <br>
                    In Below program user is asked to enter the age and based on the input, the if..else statement checks whether the entered age is greater than or equal to 18. If this condition meet then display message “You are eligible for voting”, however if the condition doesn’t meet then display a different message “You are not eligible for voting”.
                   <br>  <pre ><span >
                        #include</span><span class="pln"> </span><span class="str">&lt;stdio.h&gt;</span><span class="pln">
                        </span><span class="kwd">int</span><span class="pln"> main</span><span class="pun">()</span><span class="pln">
                        </span><span class="pun">{</span><span class="pln">
                           </span><span class="kwd">int</span><span class="pln"> age</span><span class="pun">;</span><span class="pln">
                           printf</span><span class="pun">(</span><span class="str">"Enter your age:"</span><span class="pun">);</span><span class="pln">
                           scanf</span><span class="pun">(</span><span class="str">"%d"</span><span class="pun">,&amp;</span><span class="pln">age</span><span class="pun">);</span><span class="pln">
                           </span><span class="kwd">if</span><span class="pun">(</span><span class="pln">age </span><span class="pun">&gt;=</span><span class="lit">18</span><span class="pun">)</span><span class="pln">
                           </span><span class="pun">{</span><span class="pln">
                            </span><span class="com">/* This statement will only execute if the
                             * above condition (age&gt;=18) returns true
                             */</span><span class="pln">
                            printf</span><span class="pun">(</span><span class="str">"You are eligible for voting"</span><span class="pun">);</span><span class="pln">
                           </span><span class="pun">}</span><span class="pln">
                           </span><span class="kwd">else</span><span class="pln">
                           </span><span class="pun">{</span><span class="pln">
                            </span><span class="com">/* This statement will only execute if the
                             * condition specified in the "if" returns false.
                             */</span><span class="pln">
                            printf</span><span class="pun">(</span><span class="str">"You are not eligible for voting"</span><span class="pun">);</span><span class="pln">
                           </span><span class="pun">}</span><span class="pln">
                           </span><span class="kwd">return</span><span class="pln"> </span><span class="lit">0</span><span class="pun">;</span><span class="pln">
                        </span><span class="pun">}</span></pre>
            
            
            
              </p>


              <h3 style="color:black">Output of above Program:</h3> 
              <p>
                    <pre ><span class="typ">
                        Enter</span><span class="pln"> your age</span><span class="pun">:</span><span class="lit">14</span><span class="pln">
                        </span><span class="typ">You</span><span class="pln"> are </span><span class="kwd">not</span><span class="pln"> eligible </span><span class="kwd">for</span><span class="pln"> voting</span></pre>       
            </p>


             <h3 style="color:black">C Nested If..else statement:</h3> 
             <p>
                    When an if else statement is present inside the body of another “if” or “else” then this is called nested if else.
                    <br> <br>
                    Syntax of Nested if else statement:   
                    
                    <pre ><span class="kwd">
                        if</span><span class="pun">(</span><span class="pln">condition</span><span class="pun">)</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
                        </span><span class="com">//Nested if else inside the body of "if"</span><span class="pln">
                        </span><span class="kwd">if</span><span class="pun">(</span><span class="pln">condition2</span><span class="pun">)</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
                           </span><span class="com">//Statements inside the body of nested "if"</span><span class="pln">
                        </span><span class="pun">}</span><span class="pln">
                        </span><span class="kwd">else</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
                           </span><span class="com">//Statements inside the body of nested "else"</span><span class="pln">
                        </span><span class="pun">}</span><span class="pln">
                    </span><span class="pun">}</span><span class="pln">
                    </span><span class="kwd">else</span><span class="pln"> </span><span class="pun">{</span><span class="pln">
                        </span><span class="com">//Statements inside the body of "else"</span><span class="pln">
                    </span><span class="pun">}</span></pre>
                    <br> <br>
                    Example of Nested If Else :
                     <br> <br>
                    <pre><span class="com">
                        #include</span><span class="pln"> </span><span class="str">&lt;stdio.h&gt;</span><span class="pln">
                        </span><span class="kwd">int</span><span class="pln"> main</span><span class="pun">()</span><span class="pln">
                        </span><span class="pun">{</span><span class="pln">
                           </span><span class="kwd">int</span><span class="pln"> var1</span><span class="pun">,</span><span class="pln"> var2</span><span class="pun">;</span><span class="pln">
                           printf</span><span class="pun">(</span><span class="str">"Input the value of var1:"</span><span class="pun">);</span><span class="pln">
                           scanf</span><span class="pun">(</span><span class="str">"%d"</span><span class="pun">,</span><span class="pln"> </span><span class="pun">&amp;</span><span class="pln">var1</span><span class="pun">);</span><span class="pln">
                           printf</span><span class="pun">(</span><span class="str">"Input the value of var2:"</span><span class="pun">);</span><span class="pln">
                           scanf</span><span class="pun">(</span><span class="str">"%d"</span><span class="pun">,&amp;</span><span class="pln">var2</span><span class="pun">);</span><span class="pln">
                           </span><span class="kwd">if</span><span class="pln"> </span><span class="pun">(</span><span class="pln">var1 </span><span class="pun">!=</span><span class="pln"> var2</span><span class="pun">)</span><span class="pln">
                           </span><span class="pun">{</span><span class="pln">
                            printf</span><span class="pun">(</span><span class="str">"var1 is not equal to var2\n"</span><span class="pun">);</span><span class="pln">
                            </span><span class="com">//Nested if else</span><span class="pln">
                            </span><span class="kwd">if</span><span class="pln"> </span><span class="pun">(</span><span class="pln">var1 </span><span class="pun">&gt;</span><span class="pln"> var2</span><span class="pun">)</span><span class="pln">
                            </span><span class="pun">{</span><span class="pln">
                                printf</span><span class="pun">(</span><span class="str">"var1 is greater than var2\n"</span><span class="pun">);</span><span class="pln">
                            </span><span class="pun">}</span><span class="pln">
                            </span><span class="kwd">else</span><span class="pln">
                            </span><span class="pun">{</span><span class="pln">
                                printf</span><span class="pun">(</span><span class="str">"var2 is greater than var1\n"</span><span class="pun">);</span><span class="pln">
                            </span><span class="pun">}</span><span class="pln">
                           </span><span class="pun">}</span><span class="pln">
                           </span><span class="kwd">else</span><span class="pln">
                           </span><span class="pun">{</span><span class="pln">
                            printf</span><span class="pun">(</span><span class="str">"var1 is equal to var2\n"</span><span class="pun">);</span><span class="pln">
                           </span><span class="pun">}</span><span class="pln">
                           </span><span class="kwd">return</span><span class="pln"> </span><span class="lit">0</span><span class="pun">;</span><span class="pln">
                        </span><span class="pun">}</span></pre>
                </p>
                <h4 style="color: blueviolet">Note : Hope you guys understand very well if else <br></h4>
                  Lets do some exercises on if else <br> <br>
                  <h5>1. Write a C program to find maximum between two numbers.</h5> <br>
                  <h5>2. Write a C program to check whether a number is even or odd. </h5><br>
                  <h5>3. Write a C program to check whether a character is alphabet or not. </h5><br>
                   <h5>4. Write a C program to check whether a number is divisible by 5 and 11 or not. </h5> <br>
            

                <h3 style="color:black">Loops In C :</h3> 
                <p>
                  In any programming language including C, loops are used to execute a set of statements repeatedly until a particular condition is satisfied.
                  Types of Loop : <br>
                  There are 3 types of Loop in C language, namely: <br> <br>

                  while loop <br>
                  for loop <br>
                  do while loop <br>
                </p>
                <h3 style="color:black">While Loop  :</h3> 
                <p>
                 
                  while loop can be addressed as an entry control loop. It is completed in 3 steps.
                    <br>
                  Variable initialization.(e.g int x = 0;)  <br>
                  condition(e.g while(x <= 10))  <br>
                  Variable increment or decrement ( x++ or x-- or x = x + 2 ) <br>
                  <h4>Example: Program to print first 10 natural numbers</h4>
                  <pre ><code class=" language-clike">
                    #include<span class="token operator">&lt;</span>stdio<span class="token punctuation">.</span>h<span class="token operator">&gt;</span>

                    void <span class="token function">main</span><span class="token punctuation">(</span> <span class="token punctuation">)</span>
                    <span class="token punctuation">{</span>
                        int x<span class="token punctuation">;</span>
                        x <span class="token operator">=</span> <span class="token number">1</span><span class="token punctuation">;</span>
                        <span class="token keyword">while</span><span class="token punctuation">(</span>x <span class="token operator">&lt;=</span> <span class="token number">10</span><span class="token punctuation">)</span>
                        <span class="token punctuation">{</span>
                            <span class="token function">printf</span><span class="token punctuation">(</span><span class="token string">"%d\t"</span><span class="token punctuation">,</span> x<span class="token punctuation">)</span><span class="token punctuation">;</span>
                            <span class="token comment" spellcheck="true">/* below statement means, do x = x+1, increment x by 1*/</span>
                            x<span class="token operator">++</span><span class="token punctuation">;</span>
                        <span class="token punctuation">}</span>
                    <span class="token punctuation">}</span></code></pre>
                </p>
                <h3 style="color:black">for loop:</h3> 
                <p>
                    for loop is used to execute a set of statements repeatedly until a particular condition is satisfied. We can say it is an open ended loop.. General format is,
                    <br><br>
                    for(initialization; condition; increment/decrement) <br>
                    { <br>
                        statement-block; <br>
                    } <br> <br>
                    In for loop we have exactly two semicolons, one after initialization and second after the condition. In this loop we can have more than one initialization or increment/decrement, separated using comma operator. But it can have only one condition.

                    The for loop is executed as follows: <br>

                    It first evaluates the initialization code. <br>
                    Then it checks the condition expression. <br>
                    If it is true, it executes the for-loop body. <br>
                    Then it evaluate the increment/decrement condition and again follows from step 2. <br>
                    When the condition expression becomes false, it exits the loop. <br> <br>
                    <h4>Program to print first 10 natural numbers : </h4><br> <br>
                    <pre ><code class=" language-clike">
                      #include<span class="token operator">&lt;</span>stdio<span class="token punctuation">.</span>h<span class="token operator">&gt;</span>

                      void <span class="token function">main</span><span class="token punctuation">(</span> <span class="token punctuation">)</span>
                      <span class="token punctuation">{</span>
                          int x<span class="token punctuation">;</span>
                          <span class="token keyword">for</span><span class="token punctuation">(</span>x <span class="token operator">=</span> <span class="token number">1</span><span class="token punctuation">;</span> x <span class="token operator">&lt;=</span> <span class="token number">10</span><span class="token punctuation">;</span> x<span class="token operator">++</span><span class="token punctuation">)</span>
                          <span class="token punctuation">{</span>
                              <span class="token function">printf</span><span class="token punctuation">(</span><span class="token string">"%d\t"</span><span class="token punctuation">,</span> x<span class="token punctuation">)</span><span class="token punctuation">;</span>
                          <span class="token punctuation">}</span>
                      <span class="token punctuation">}</span></code></pre>
                  </p>
                <h3 style="color:black">do while loop :</h3> 
                <p>
                    In some situations it is necessary to execute body of the loop before testing the condition. Such situations can be handled with the help of do-while loop. do statement evaluates the body of the loop first and at the end, the condition is checked using while statement. It means that the body of the loop will be executed at least once, even though the starting condition inside while is initialized to be false. General syntax is,
                    <pre><code class=" language-clike"><span class="token keyword">
                      do</span>
                      <span class="token punctuation">{</span>
                          <span class="token punctuation">.</span><span class="token punctuation">.</span><span class="token punctuation">.</span><span class="token punctuation">.</span><span class="token punctuation">.</span>
                          <span class="token punctuation">.</span><span class="token punctuation">.</span><span class="token punctuation">.</span><span class="token punctuation">.</span><span class="token punctuation">.</span>
                      <span class="token punctuation">}</span>
                      <span class="token keyword">while</span><span class="token punctuation">(</span>condition<span class="token punctuation">)</span></code></pre>
                </p>
                
                <br> <br>
                <h4>Program to print first 10 multiples of 5 . :</h4>
                <pre ><code class=" language-clike">#include<span class="token operator">&lt;</span>stdio<span class="token punctuation">.</span>h<span class="token operator">&gt;</span>

                  void <span class="token function">main</span><span class="token punctuation">(</span><span class="token punctuation">)</span>
                  <span class="token punctuation">{</span>
                      int a<span class="token punctuation">,</span> i<span class="token punctuation">;</span>
                      a <span class="token operator">=</span> <span class="token number">5</span><span class="token punctuation">;</span>
                      i <span class="token operator">=</span> <span class="token number">1</span><span class="token punctuation">;</span>
                      <span class="token keyword">do</span>
                      <span class="token punctuation">{</span>
                          <span class="token function">printf</span><span class="token punctuation">(</span><span class="token string">"%d\t"</span><span class="token punctuation">,</span> a<span class="token operator">*</span>i<span class="token punctuation">)</span><span class="token punctuation">;</span>
                          i<span class="token operator">++</span><span class="token punctuation">;</span>
                      <span class="token punctuation">}</span> 
                      <span class="token keyword">while</span><span class="token punctuation">(</span>i <span class="token operator">&lt;=</span> <span class="token number">10</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
                  <span class="token punctuation">}</span></code></pre>

                  <h3 style="color:black">Jumping Out of Loops:</h3> 
                  <p >
                      Sometimes, while executing a loop, it becomes necessary to skip a part of the loop or to leave the loop as soon as certain condition becomes true. This is known as jumping out of loop.
                     <br> <br> 1) break statement : <br> 
                                When break statement is encountered inside a loop, the loop is immediately exited and the program continues with the statement immediately following the loop.
                        
                  </p>
                  <h3 style="color:black">continue statement:</h3> 
                  <p >
                         
                      
                      It causes the control to go directly to the test-condition and then continue the loop process. On encountering continue, cursor leave the current cycle of loop, and starts with the next cycle.
                        
                  </p>

                   <h4 style="color: blueviolet">Lets Do Some exercises on loops dont copy code from google :</h4>
                    
                    <h5>1. Write a C program to find the sum of first 10 natural numbers </h5> <br><br>
                    <h5>2. Write a program in C to display the cube of the number upto given an integer. <br>
                        <br> Ex . <br>
                          Input number of terms : 5  <br>
                          Expected Output :  <br>
                          Number is : 1 and cube of the 1 is :1  <br>
                          Number is : 2 and cube of the 2 is :8  <br>
                          Number is : 3 and cube of the 3 is :27  <br>
                          Number is : 4 and cube of the 4 is :64  <br>
                          Number is : 5 and cube of the 5 is :125 <br>
                          Means you need to run any loop upto the give no . <br>
                    </h5><br>
                    <h5>3. Write a program in C to display the multiplication table of a given integer. Go to the editor
                        </h5><br><br>

                    <h5>4. Write a program in C to display the pattern like right angle triangle using an asterisk <br>
                    
                      The pattern like : <br>

                      * <br>
                      ** <br>
                      *** <br>
                      **** <br>
                    
                    </h5>

                    <br> <br>
            <a  style="margin-left: 40%"  href="{% url 'Array-In-C-Language-Tutorial' %}" class="btn btn-secondary text-white btn-lg">Day 5</a>
            <br> <br>
            </div>
          </div>
         
        </div>
      </section>
      

   
        
</div>

{% endblock %}