{% extends 'base_1.html' %}
{% block title %} Introduction To C Language  {% endblock %}

{% block content %}
<style>
      
p{
  font-size: 17px;
}      
</style>
    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'intro' %}">
                  <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item active"> C Language</li>
            </ol>
          </nav>
        </div>
      </section>
      <section id="about" class="py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              
            
            </div>
            
            </div>
          </div>
        </div>
      </section>
    </div>
    <section id="about" class="py-4">
        <div class="container">
          <div class="row">
              <div class="col-md-8">
              
           
               
                <h3 style="color: green">Learn C Introduction : </h3>

                <p >C is a powerful general-purpose programming language. It is fast, portable and available in all platforms.
                    is a procedural programming language. It was initially developed by Dennis Ritchie between 1969 and 1973. It was mainly developed as a system programming language to write an operating system. The main features of C language include low-level access to memory, a simple set of keywords, and clean style, these features make C language suitable for system programmings like an operating system or compiler development.
                    Many later languages have borrowed syntax/features directly or indirectly from C language. Like syntax of Java, PHP, JavaScript and many other languages are mainly based on C language. C++ is nearly a superset of C language (There are few programs that may compile in C, but not in C++).
                </p>
             
                <h4 style="color: green">Copy Below Links And Watch Lectures First :</h4>
                 
                <h4 style="color: dimgray;margin-left: 10%;">1. Introduction-Part-1 : https://youtu.be/si-KFFOW2gw</h4>
                <h4 style="color: dimgray;margin-left: 10%;">2. Introduction-Part-2 : https://youtu.be/sB7YGSbAIvQ</h4>

                <p >
                        As we studied earlier, 'C' is a base language for many programming languages. So, learning 'C' as the main language will play an important role while studying other programming languages. It shares the same concepts such as data types, operators, control statements and many more. 'C' can be used widely in various applications. It is a simple language and provides faster execution. There are many jobs available for a 'C' developer in the current market.
                    
                </p>
                <h3 style="color: green"> How 'C' Works? :</h3>
                <p>
                        C is a compiled language. A compiler is a special tool that compiles the program and converts it into the object file which is machine readable. After the compilation process, the linker will combine different object files and creates a single executable file to run the program. 
                        Nowadays, various compilers are available online, and you can use any of those compilers. The functionality will never differ and most of the compilers will provide the features required to execute both 'C' and 'C++' programs.
                </p>
          
            <a  style="margin-left: 60%"  href="{% url 'platform' %}" class="btn btn-secondary text-white btn-lg">Day-2</a>
          
            </div>
            
          </div>
         
        </div>
      </section>
      

   
        
</div>

{% endblock %}