{% extends 'base_1.html' %}
{% block title %} Paging And Segmentation In OS | Operating System Tutorial {% endblock %}
{% block content %}
<style>
   p {
   display: block;
   margin-top: 1em;
   margin-bottom: 1em;
   margin-left: 0;
   margin-right: 0;
   
   font-size: 17px;
   }
   pre{
   background-color: #e0e0e0;
   border-radius: 10px;
   color: rgba(0,0,0,.9);
   font-family: Consolas,monospace;
   margin-bottom: 10px;
   overflow: auto;
   padding: 10px;
   margin: 0px 0px 10px;
   text-align: left;
   }
   .heading
   {
       color: #008c00;
   }
   .shead
   {
       color: #008c00;
   }
</style>
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
   <div class="container">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
               <a href="{% url 'index' %}">
                    <i class="fas fa-home"></i> Home</a></a>
            </li>
            <li class="breadcrumb-item active"> Operating System </li>
         </ol>
      </nav>
   </div>
</section>
</div>
<section id="about" class="py-4">
   <div class="container">
      <div class="row">
         <div class="col-md-8">
           
               <h3 style="color:green">Paging  : </h3> 
               <p >
                    Computer memory is divided into small partitions that are all the same size and referred to as, page frames. Then when a process is loaded it gets divided into pages which are the same size as those previous frames. The process pages are then loaded into the frames.
                    <br> <br>
                    The main idea behind the paging is to divide each process in the form of pages. The main memory will also be divided in the form of frames.
                    <br> <br>
                    Paging is a fixed size partitioning scheme.                                                 <br>        <br>
                    In paging, secondary memory and main memory are divided into equal fixed size partitions.<br> <br>
                    The partitions of secondary memory are called as pages.<br> <br>
                    The partitions of main memory are called as frames.<br> <br>
 
                    Each process is divided into parts where size of each part is same as page size. <br> <br>
                    The size of the last part may be less than the page size. <br> <br>
                    The pages of process are stored in the frames of main memory depending upon their availability. <br> <br>
                    <br>
                    For implementing paging the physical and logical memory spaces are divided into the same fixed-sized blocks. These fixed-sized blocks of physical memory are called frames, and the fixed-sized blocks of logical memory are called pages.
                    <br> <br>
                    When a process needs to be executed the process pages from logical memory space are loaded into the frames of physical memory address space. Now the address generated by CPU for accessing the frame is divided into two parts i.e. page number and page offset.
                    <br> <br>
                    The page table uses page number as an index; each process has its separate page table that maps logical address to the physical address. The page table contains base address of the page stored in the frame of physical memory space. The base address defined by page table is combined with the page offset to define the frame number in physical memory where the page is stored.
                    <br> <br>
                    <span style="color: brown">Watch this video : https://youtu.be/xAvC-MJ_Sz8 </span>
                    <br> 
            
                </p>

                <h3 class="heading">Segmentation : </h3>
                <p>
                        Computer memory is allocated in various sizes (segments) depending on the need for address space by the process. These segments may be individually protected or shared between processes. Commonly you will see what are called “Segmentation Faults” in programs, this is because the data that’s is about to be read or written is outside the permitted address space of that process.
                        <br> <br>
                        Like Paging, Segmentation is also a memory management scheme. It supports the user’s view of the memory. The process is divided into the variable size segments and loaded to the logical memory address space.
                        <br> <br>
                        The logical address space is the collection of variable size segments. Each segment has its name and length. For the execution, the segments from logical memory space are loaded to the physical memory space.
                        <br> <br>
                        <span style="color: brown">watch this video : https://youtu.be/E7XQesMS0bg </span> <br>



                </p>
                <h3 class="heading">Difference between Paging and Segmentation : </h3>
                <p>
                        1. The basic difference between paging and segmentation is that a page is always of fixed block size whereas, a segment is of variable size.
                        <br> <br>
                        2. Paging may lead to internal fragmentation as the page is of fixed block size, but it may happen that the process does not acquire the entire block size which will generate the internal fragment in memory. The segmentation may lead to external fragmentation as the memory is filled with the variable sized blocks.
                        <br> <br>
                        3. In paging the user only provides a single integer as the address which is divided by the hardware into a page number and Offset. On the other hands, in segmentation the user specifies the address in two quantities i.e. segment number and offset.
                        <br> <br>
                        4. The size of the page is decided or specified by the hardware. On the other hands, the size of the segment is specified by the user.
                        <br> <br>
                        5. In paging, the page table maps the logical address to the physical address, and it contains base address of each page stored in the frames of physical memory space. However, in segmentation, the segment table maps the logical address to the physical address, and it contains segment number and offset (segment limit).
                        <br> <br>
                    </p>
                    <h3 class="heading">Deadlock :</h3>
                    <p>
                            Deadlocks are a set of blocked processes each holding a resource and waiting to acquire a resource held by another process.
                            <br> <br>
                            <span style="color: brown">Watch Below videos : </span> <br>
                            1. https://youtu.be/_zOTMOubT1M <br>
                            2. https://youtu.be/JABarkXjxpk <br>
                            3. https://youtu.be/U7zKBXg-YOI <br>
                            4. https://youtu.be/ok5jgFgUzrs  <br>
                            <br>
                            Above videos are more than enough to solve any Deadlock question in ccat exam . <br>

                    </p>
                    <h3 class="heading">How to avoid Deadlocks : </h3>
                    <p>
                            Deadlocks can be avoided by avoiding at least one of the four conditions, because all this four conditions are required simultaneously to cause deadlock.

                            <br> <br>
                            <span style="color: brown">1. Mutual Exclusion : </span>
                            <br>
                            Resources shared such as read-only files do not lead to deadlocks but resources, such as printers and tape drives, requires exclusive access by a single process.
                            <br> <br>
                            <span style="color: brown">2. Hold and Wait : </span> <br>
                            In this condition processes must be prevented from holding one or more resources while simultaneously waiting for one or more others. <br>
                            <br>
                            <span style="color: brown">3. No Preemption  : </span>
                                   <br>
                            Preemption of process resource allocations can avoid the condition of deadlocks, where ever possible.
                            <br> <br>
                            <span style="color: brown">4. Circular Wait : </span> <br>
                            Circular wait can be avoided if we number all resources, and require that processes request resources only in strictly increasing(or decreasing) order
                            <br> <br>

                            

                    </p>
                    <h3 class="heading">How to Handle Deadlock :</h3>
                    <p>
                        Above informations for avoid deadlock but what if I want to handle deadlock ? : <br> <br>
                        Then use below methods  : <br>
                        <span style="color: brown">1. Preemption  : </span> <br>
                        We can take a resource from one process and give it to other. This will resolve the deadlock situation, but sometimes it does causes problems.
                        <br> <br>
                        <span style="color: brown">2. Rollback  : </span> <br>
                        In situations where deadlock is a real possibility, the system can periodically make a record of the state of each process and when deadlock occurs, roll everything back to the last checkpoint, and restart, but allocating resources differently so that deadlock does not occur.
                        <br> <br>
                        
                        <span style="color: brown">3. Kill one or more processes  : </span> <br>
                        Very easy method but still it works . <br> <br>

                    </p>
               
         <h5 style="color: brown">Note : Please read theory very carefully if you didnt understand any concept search it on google 
            because only theory based objective questions will come in exam .
            </h5>
             <br> <br>
            <a  style="margin-left: 40%"  href="{% url 'Difference-In-Os' %}" class="btn btn-secondary text-white btn-lg">Last-Day</a>
            <br>  <br>

        </div>
      </div>
   </div>
</section>
</div>
{% endblock %}