{% extends 'base_1.html' %}
{% block title %} Programming  in C | C Language Tutorial {% endblock %}
{% block content %}
<style>
   p {
   display: block;
   margin-top: 1em;
   margin-bottom: 1em;
   margin-left: 0;
   margin-right: 0;
   font-style: italic;
   font-size: 17px;
   }
   pre{
   background-color: #e0e0e0;
   border-radius: 10px;
   color: rgba(0,0,0,.9);
   font-family: Consolas,monospace;
   margin-bottom: 10px;
   overflow: auto;
   padding: 10px;
   margin: 0px 0px 10px;
   text-align: left;
   }
</style>
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
   <div class="container">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
               <a href="{% url 'index' %}">
               <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active"> C Language</li>
         </ol>
      </nav>
   </div>
</section>
</div>
<section id="about" class="py-4">
   <div class="container">
      <div class="row">
         <div class="col-md-8">
           
               <h3 style="color:black">Learn how to code in C : </h3>
               <p >
                    So this is our 13 th day we have almost completed all topics which are required for exam . 
                    now lets do some hands on in c pregramming . Watch all the videos which will help you to 
                    understand how to write code and how to build login . <br>

            
               </p>
               <h3 style="color: black">Copy Below Links And Watch Lectures First :</h3>
               <br>
               <h5 style="color:green">1.Programming-In-C : https://youtu.be/uZ5FvTeJtmI</h5> <br>
               <h5 style="color:green">2.Programming-In-C : https://youtu.be/O8RmrHJij7E</h5> <br>
               <h5 style="color:green">3.Programming-In-C : https://youtu.be/S2ACzK5-lsA</h5> <br>
               <h5 style="color:green">4.Programming-In-C : https://youtu.be/lL3orbbGYsg</h5> <br>
               <h5 style="color:green">5.Programming-In-C : https://youtu.be/QY2VhGIU2GE</h5> <br>
               <h5 style="color:green">6.Programming-In-C : https://youtu.be/1qdXfbn5nwc</h5> <br>
               <h5 style="color:green">7.Programming-In-C : https://youtu.be/Vu4Y1sWUDQw</h5> <br>

               <h5>Watch remaining videos tomorrow if you cant digest .. </h5> <br>

               <h5 style="color:green">8.Programming-In-C : https://youtu.be/XH104T-Zeo0</h5> <br>
               <h5 style="color:green">9.Programming-In-C : https://youtu.be/4KCOdMGMjR8</h5> <br>
               <h5 style="color:green">10.Programming-In-C : https://youtu.be/XH104T-Zeo0</h5> <br>

               <h5 style="color:green">11.Programming-In-C : https://youtu.be/SKh_sXkPvVE</h5> <br>
               <h5 style="color:green">12.Programming-In-C : https://youtu.be/7xgYLWXi8KY</h5> <br>
               <h5 style="color:green">13.Programming-In-C : https://youtu.be/aRpALtQKOSg</h5> <br>
               
               <h5 style="color:green">14.Programming-In-C : https://youtu.be/vZ8keqQb5E0</h5> <br>
               <h5 style="color:green">15.Programming-In-C : https://youtu.be/kipU4sdlpnU</h5> <br>
               <h5 style="color:green">16.Recurssion-In-C : https://youtu.be/SUfe1UX1m4M </h5> <br>
              
               <br>
            <p>
              
            </p>
            <h4 style="color: black">
                Thats it guys our c journey is now over see i told you how easy it is in just 13 days now you can
                do coding in c Language very well if you watched all videos and did my all assignments then 
                i am telling you 100 % surely you know C very well no need to take private coaching to learn language .
                <br> <br><br>
                So now day 14,15 lets do some small mini projects . because your learning is totally incomplete
                if after learn language u didnt code any single projects . while doing projects you will face
                lots of problem and from that problems you will learn something too much new things . 

                <br><br>
                So click Day 14 and do projects whichever you like and send me output and your code.This is 
                your final assignment for C .. <br>
                
            </h4>
             
               <h4>Note : If you have any doubts feel free to contact us If You Didnt understand any concept ..</h4>
               <br><br>
            <a  style="margin-left: 40%"  href="{% url 'projects-In-C-Tutorial' %}" class="btn btn-secondary text-white btn-lg">Day-14</a>
            <br><br>
         </div>
      </div>
   </div>
</section>
</div>
{% endblock %}