{% extends 'base_1.html' %}
{% block title %} Top 10 Small mini Projects in C | C Language Tutorial {% endblock %}
{% block content %}
<style>
   p {
   display: block;
   margin-top: 1em;
   margin-bottom: 1em;
   margin-left: 0;
   margin-right: 0;
   font-style: italic;
   font-size: 17px;
   }
   pre{
   background-color: #e0e0e0;
   border-radius: 10px;
   color: rgba(0,0,0,.9);
   font-family: Consolas,monospace;
   margin-bottom: 10px;
   overflow: auto;
   padding: 10px;
   margin: 0px 0px 10px;
   text-align: left;
   }
</style>
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
   <div class="container">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
               <a href="{% url 'index' %}">
               <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active"> C Language</li>
         </ol>
      </nav>
   </div>
</section>
</div>
<section id="about" class="py-4">
   <div class="container">
      <div class="row">
         <div class="col-md-8">
          
               <h3 style="color:black">Top 5 Mini Projects  in C  for Beginners: </h3>
               <p >
                   <h4 style="color: green">1. Project in C Bank Management System :</h4> 
                    <br>
                    Explaination :
                   
                    Here suppose I am bank owner and you are a developer i want you create one software for me 
                    in that i have following options :
                    <br>
                    <h5 style="color: green">1. Dislplay Menu </h5><br>
                    <h5 style="color: green">2. Create new bank account for new customer  </h5><br>
                    <h5 style="color: green">3. Edit existing user data  </h5> <br>
                    <h5 style="color: green">4. Remove existing user  </h5> <br>
                    <h5 style="color: green">5. Check details for user </h5> <br>
                    <h5 style="color: green">6. View customers list </h5> <br>
                    <h5 style="color: green">7. Exit  </h5>
                    <br>
                    This is my requirement . 
                    <br>
                    So start your own logic dont copy from internet . <br>
                    I will give some idea <br>
                    What you can do you create 7 functions : <br>
                    1. menu() : <br>
                    2. create_acnt() : <br>
                    3. update_acnt() : <br>
                    4. delete_acnt() : <br>
                    5. view_customer() : <br>
                    6. check_user_data() : <br>
                    7. exit() <br>
                    now write your own logic in each function and call functions by giving choice like if user enter 1 
                    then it will call create_acnt like that .. <br>
                    
                    <h4 style="color: green">for menu use switch case in C  </h4> <br>

                    <br>
                    Once complete dont forget to send you preoject to me . <br> <br>

                    <h4 style="color: green">2. Employee Record System :</h4> <br> <br>
                    The main features of this project include basic file handling operations; you will learn how to add, list, modify and delete data to/from file. The source code is relatively short,
                     so try to analyze how things such as functions, pointers, files, and arrays you can  implement
                    <br>
                    I want following 4 features :<br>
                    <h5 style="color: green">
                   

                        1. Add record <br><br>
                        2. List record<br><br>
                        3. Modify record<br><br>
                        4. Delete record<br><br>
                    </h5>
                    This is also like first project if you did first this is very easy for your just change functions 
                    and write another logic . 
                    <br>
                    <br>
                    <h4 style="color: green">3. Customer Billing System  :</h4> <br> <br>
                    Customer Billing System Project is a simple console application designed to demonstrate the practical use of C programming language and its features as wells as to generate an application which can be used in any departmental store, shops, cafes etc. for billing to the customer.
                    <br> <br>
                    You can use this application to keep the records such as name, address, mobile number, paid amount, due amount, payment date etc. of your regular costumer. Moreover, if you have a new customer, you can add and edit the account at any time.
                    <br> <br>
                    Customer Billing System application is so simple to use. In order to use the application, click at the exe file and then, you will have three options to:
                        <br><br>
                        <h5 style="color: green">
                        To add account <br><br>
                        To search account <br><br>
                        To exit <br><br>

                    </h5>
                    <h4 style="color: black"> Features : </h4>

                        1. It can hold any number of accounts and account can be added to the program at any time. <br>
                        2. The programming of simple calculations such as calculation of due amount, balance etc. have been embed in the code of project. <br>
                        3. The Customer Billing System project in C gives you the facility of searching the account by two ways, either by name of the customer or by the number of customer. <br>
                        4. The due amount to be paid is shown as negative balance. <br>
                        5. If you have nothing to do with the program, you can directly exit from the main menu. <br>
                
                        <br> <br>
                        <h4 style="color: green">4. Student Record System :</h4> <br> <br>
                        Record System has a unique style of coding and is presented in a colorful manner. It uses files as database to perform file handling operations such as add, search, modify and delete records to manage students’ records. In this project, you can also generate mark-sheet for students.
                        <br> <br>
                        Here, a console window is virtually divided into 2 parts – one is static and it does not change, while the other is dynamic and it changes from time to time. The text are coded using various color-related functions to make them static.
                        <br> <br>

                        <h4>Features I want :</h4> <br>
                        <h5 style="color: green">
                                1. Add student record <br><br>
                                2. Search student record<br><br>
                                3. Modify student record<br><br>
                                4. Generate marksheet <br><br>
                                5. Delete student record<br><br>
                                6. Change password<br><br>
                        </h5> <br><br>
                        This is little bit advance and difficult but try hard i am telling you if you did all  5 projects
                        with your own logic without copy from internet you can get very great success in CDAC . <br>
                        <br>
                        <br>
                        <h4 style="color: green">5.  Library Management System  :</h4> <br> <br>

                        Here, you can perform functions such as add books, return books, issue books, delete record of books issued, view record of books issued, search for books, and more. File handling has been extensively used in this project for almost all functions. So, this project can definitely guide you to understand C mini projects in a better way.

                        <br> <br>
                        To develop this application you can create following Functions :
                        <br>
                       <h5 style="color: green">void main_menu(void)</h5>  : <br>
                        This function is used to display the main menu of this project. Scroll down to Output to view the main menu. <br>
                        <h5 style="color: green">return_book(void)</h5>  : <br>
                        Inside this function, the main menu function (mentioned above) is called when the user presses a key. With this, the user can return back to the main menu
                        <br>
                        <h5 style="color: green">addbooks(void)</h5>  : <br>
                        This function adds books in a file. For that, you need to mention the department to which you want to add the book. The record is saved in a file. And, it is similar for the following functions as well. <br>
                    
                        <h5 style="color: green">deletebooks(void)</h5> 
                        write your own logic . 


                        <h5 style="color: green">editbooks(void)</h5>   <br>
                        write your own logic
                        <h5 style="color: green">searchbooks(void)</h5>  <br>
                        write your own logic
                        <h5 style="color: green">issuebooks(void)</h5>  <br>
                        write your own logic
                        <h5 style="color: green"> void viewbooks(void)</h5> <br>
                        write your own logic
                        
                    </p>
              
            <p>
              
            </p>
                <h5 style="color: green">
                    Thats it guys today we have completed very most important subject base of programming . 
                    please share your feedback on email . Please feel free to contact us anytime if you need
                    any help . 
                <br><br>
            
                
            </h4>
             
               <h4>Note : If you have any doubts feel free to contact us If You Didnt understand any concept ..</h4>
               <br><br>
            <a  style="margin-left: 40%"  href="{% url 'cpp' %}" class="btn btn-secondary text-white btn-lg">CPP</a>
            <br><br>
         </div>
      </div>
   </div>
</section>
</div>
{% endblock %}