{% load static %}
<head>

   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        .navbar {
          margin-bottom: 0px;
          border-radius: 0px;
        }

        .logo {
          width: 65px !important;
         }
        .nav-item active mr-3{
          float: center;
        }

         .navbar-brand{
           padding: 0px;
           
         }

         @media (max-width: 768px) {
          .nav > li{
            text-align: center;
            
          }

          

          #navbarNavAltMarkup .register{
              float: none !important;
              margin: 0px auto;
              width: 20%;
          }
          
         }
    </style>
  </head>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
   
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static '/img/ccat9.png' %}" class="logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="nav navbar-nav">
          <li 
            {% if '/' == request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}          
          >
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li 
            {% if 'about' in request.path %}
            class="nav-item active mr-3"
            {% else %}
            class="nav-item mr-3"
            {% endif %}          
          >
            <a class="nav-link" href="{% url 'ccat-predac-course-pune' %}">Pre-dac</a>
          </li>
          <li 
          {% if 'cdac-c-cat' in request.path %}
            class="nav-item active mr-3"
            {% else %}
            class="nav-item mr-3"
            {% endif %}          
          >
            <a class="nav-link" href="{% url 'cdac-c-cat' %}">CCAT</a>

          </li>
          <li 
          {% if 'ccee' in request.path %}
            class="nav-item active mr-3"
            {% else %}
            class="nav-item mr-3"
            {% endif %}          
            >
            <a class="nav-link" href="{% url 'ccee' %}">CCEE</a>
          </li>
          <li
          {% if 'cdac' in request.path %}
            class="nav-item active mr-3"
            {% else %}
            class="nav-item mr-3"
            {% endif %}          
          >
            <a class="nav-link" href="{% url 'cdac' %}">CDAC</a>

          </li>
          <li 
          {% if 'OnlineTest' in request.path %}
              class="nav-item active mr-3"
              {% else %}
              class="nav-item mr-3"
              {% endif %}          
          >
          <a class="nav-link" href="{% url 'onlinetest' %}">TEST SERIES CCAT</a>
          </li>
          <li 
          {% if 'interview' in request.path %}
              class="nav-item active mr-3"
              {% else %}
              class="nav-item mr-3"
              {% endif %}          
          >
          <a class="nav-link" href="{% url 'interview' %}">Interview</a>
          </li>
          <li 
          {% if 'questions' in request.path %}
              class="nav-item active mr-3"
              {% else %}
              class="nav-item mr-3"
              {% endif %}          
          >
          <a class="nav-link" href="{% url 'questions' %}">Questions</a>
          </li>
          
        </ul>
        <ul class="navbar-nav ml-auto float-right register">
            {% if user.is_authenticated %}
              <li
              {% if 'dashboard' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
              >
                <a class="nav-link" href="{% url 'dashboard' %}">
                 Welcome {{ user.username }} (Dashboard)</a>
              </li>
              <li class="nav-item mr-3">
                <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                  <i class="fas fa-sign-out-alt"></i> Logout
                </a>
                <form action="{% url 'logout' %}" method="POST" id="logout">
                  {% csrf_token %}
                  <input type="hidden">
                </form>
              </li>
            {% else %}
              <li
              {% if 'register' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
              >
                <a class="nav-link" href="{% url 'register' %}">
                  <i class="fas fa-user-plus"></i> Register</a>
              </li>
              <li
              {% if 'login' in request.path %}
                class="nav-item active mr-3"
              {% else %}
                class="nav-item mr-3"
              {% endif %}
              >
                <a class="nav-link" href="{% url 'login' %}">
                  <i class="fas fa-sign-in-alt"></i>
  
                  Login</a>
              </li>
            {% endif %}
          </ul>
      </div>
    </div>
  </nav>

  