 <!-- Top Bar -->
 <style>
    p.description {
        background: #336699;
        color: #FFFFFF;
        font-family: georgia;
        font-size: 13px;
        font-style: italic;
        padding: 5px 10px;
        text-transform: capitalize;
        display: inline-block;
        top: 0px;
        text-align: right;

    }
    
    a.w3schools-logo {
        font-family: fontawesome;
        text-decoration: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 37px;
        letter-spacing: 3px;
        color: black;
        display: block;
        position: absolute;
        top: 0px;
    }
    div.top
    {

        margin-left: 30px;
       
    }
   
 </style>
   
        <div class="top">
          <a class="w3schools-logo" href="#"><strong>Notations&</strong><span style="color: green;"><strong>Sargams</strong></span></a>
          <br> <br>
          <p class="description"><span >Bollywood Songs Sargam, Notes. Hindi Songs Harmonium and Piano Tutorials.</span></p>
         
        </div>